@import url(../../node_modules/bootstrap/dist/css/bootstrap.min.css);
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */html {
 line-height:1.15;
 -webkit-text-size-adjust:100%
}
body {
 margin:0
}
main {
 display:block
}
h1 {
 font-size:2em;
 margin:0.67em 0
}
hr {
 box-sizing:content-box;
 height:0;
 overflow:visible
}
pre {
 font-family:monospace, monospace;
 font-size:1em
}
a {
 background-color:transparent
}
abbr[title] {
 border-bottom:none;
 text-decoration:underline;
 text-decoration:underline dotted
}
b, strong {
    font-weight: bolder;
    font-family: ubuntu-bold;
}
code,
kbd,
samp {
 font-family:monospace, monospace;
 font-size:1em
}
small {
 font-size:80%
}
sub,
sup {
 font-size:75%;
 line-height:0;
 position:relative;
 vertical-align:baseline
}
sub {
 bottom:-0.25em
}
sup {
 top:-0.5em
}
img {
 border-style:none
}
button,
input,
optgroup,
select,
textarea {
 font-family:inherit;
 font-size:100%;
 line-height:1.15;
 margin:0
}
button,
input {
 overflow:visible
}
button,
select {
 text-transform:none
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
 -webkit-appearance:button
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
 border-style:none;
 padding:0
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
 outline:1px dotted ButtonText
}
fieldset {
 padding:0.35em 0.75em 0.625em
}
legend {
 box-sizing:border-box;
 color:inherit;
 display:table;
 max-width:100%;
 padding:0;
 white-space:normal
}
progress {
 vertical-align:baseline
}
textarea {
 overflow:auto
}
[type="checkbox"],
[type="radio"] {
 box-sizing:border-box;
 padding:0
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
 height:auto
}
[type="search"] {
 -webkit-appearance:textfield;
 outline-offset:-2px
}
[type="search"]::-webkit-search-decoration {
 -webkit-appearance:none
}
::-webkit-file-upload-button {
 -webkit-appearance:button;
 font:inherit
}
details {
 display:block
}
summary {
 display:list-item
}
template {
 display:none
}
[hidden] {
 display:none
}
html {
 scroll-behavior:smooth
}
body {
 font-family:'ubuntu', sans-serif;
 font-weight:300;
 font-size:14px;
 line-height:1.5;
 color:black;
 max-width:100%;
 overflow-x:hidden;
 letter-spacing:0;
 padding-top:0px
}
body.no-scroll {
 overflow:hidden
}
#app::after {
 content:'';
 position:fixed;
 top:0;
 left:0;
 width:100%;
 height:100%;
 background-color:rgba(0,0,0,0.5);
 z-index:10;
 opacity:0;
 visibility:hidden;
 transition:all .4s ease
}
#app.backdrop::after {
 opacity:1;
 visibility:visible
}
*,
*::after,
*::before {
 margin:0;
 padding:0;
 box-sizing:border-box
}
*:focus {
 outline:none;
 box-shadow:none
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p {
 padding:0;
 margin:0
}
figure {
 margin:0;
 padding:0
}
img,
video {
 max-width:100%;
 display:block
}
ul {
 list-style:none;
 margin:0
}
button {
 cursor:pointer
}
input:focus,
textarea:focus,
select:focus,
button:focus {
 outline:none !important;
 box-shadow:none !important
}
@font-face {
 font-family:'ubuntu';
 src:url("../font/Ubuntu-Light.ttf");
 font-weight:300;
 font-style:normal
}
@font-face {
 font-family:'ubuntu';
 src:url("../font/Ubuntu-Bold.ttf");
 font-weight:700;
 font-style:normal
}
@font-face {
 font-family:'ubuntu-mono';
 src:url("../font/UbuntuMono-Regular.ttf");
 font-weight:300;
 font-style:normal
}
.h1,
.h2,
.h3,
.h4 {
 font-weight:700;
 line-height:1;
}
.h1 {
 font-size:72px;
 line-height:1
}
@media (max-width: 1299.98px) {
 .h1 {
  font-size:60px
 }
}
@media (max-width: 1199.98px) {
 .h1 {
  font-size:50px
 }
}
@media (max-width: 991.98px) {
 .h1 {
  font-size:40px
 }
}
.h2 {
 font-size:56px
}
@media (max-width: 1299.98px) {
 .h2 {
  font-size:50px
 }
}
@media (max-width: 1199.98px) {
 .h2 {
  font-size:40px
 }
}
@media (max-width: 991.98px) {
 .h2 {
  font-size:32px
 }
}
.h3 {
 font-size:32px
}
@media (max-width: 1199.98px) {
 .h3 {
  font-size:28px
 }
}
@media (max-width: 991.98px) {
 .h3 {
  font-size:24px
 }
}
.h4 {
 font-size:20px
}
a {
 text-decoration:none;
 color:inherit
}
a:hover,
a:focus {
 text-decoration:none;
 color:inherit
}
.link {
 color:#4B39FF
}
.link:hover,
.link:focus,
.link:active {
 color:#7D1F4D
}
.bold {
 font-weight:700 !important
}
.light {
 font-weight:300 !important
}
.bg-green {
 background-color:#1DBE3B
}
.bg-purple {
 background-color:#4B39FF
}
.bg-red {
 background-color:#FF3961
}
.r-45 {
 transform:rotate(45deg)
}
.r-90 {
 transform:rotate(90deg)
}
.r-180 {
 transform:rotate(180deg)
}
.r-270 {
 transform:rotate(270deg)
}
.r-360 {
 transform:rotate(90deg)
}
.header {
 position:relative;
 top:0;
 left:0;
 width:100%;
 background-color:white;
 border-bottom:1px solid #d8d8d8;
 padding:30px 0;
 z-index:1000
}
.header .container {
 display:flex;
 justify-content:space-between;
 align-items:center
}
@media (min-width: 1300px) {
 .header .container {
  max-width:1300px
 }
}
.header-logo a {
 display:block
}
.header-logo img {
 width:200px
}
@media (max-width: 991.98px) {
 .header-nav {
  position:absolute;
  top:90px;
  left:0;
  width:100%;
  background-color:white;
  box-shadow:0px 10px 10px rgba(0,0,0,0.1);
  overflow-y:auto;
  overflow-x:hidden
 }
}
@media (min-width: 992px) {
 .header-nav .container {
  padding:0
 }
}
@media (min-width: 992px) {
 .header-nav .container>.collapse,
 .header-nav .container>.collapsing {
  display:flex !important;
  align-items:center;
  justify-content:center;
  opacity:1 !important
 }
}
@media (max-width: 991.98px) {
 .header-nav .container>.collapse,
 .header-nav .container>.collapsing {
  width:100%
 }
}
.header-dropdown {
 margin-right:40px
}
@media (max-width: 1199.98px) {
 .header-dropdown {
  margin-right:30px
 }
}
@media (max-width: 991.98px) {
 .header-dropdown {
  margin-right:0
 }
}
.header-dropdown .header-dropdown-menu {
 position:absolute;
 bottom:0;
 left:0;
 width:100%;
 backface-visibility:hidden;
 background-color:white;
 box-shadow:0px 10px 10px rgba(0,0,0,0.1);
 z-index:100;
 border-top:1px solid #d8d8d8;
 margin:0;
 opacity:0;
 visibility:hidden;
 transform:translateY(100%);
 transition:opacity .4s ease, visibility .4s ease
}
.header-dropdown .header-dropdown-menu.show {
 opacity:1;
 visibility:visible
}
@media (max-width: 991.98px) {
 .header-dropdown .header-dropdown-menu.show {
  height:100% !important;
  overflow:visible
 }
}
@media (max-width: 991.98px) {
 .header-dropdown .header-dropdown-menu {
  position:static;
  transform:none;
  box-shadow:none;
  border:none;
  height:0;
  display:block;
  overflow:hidden
 }
}
.header-dropdown .container {
 align-items:flex-start
}
.header-dropdown-toggler {
 display:flex;
 justify-content:center;
 align-items:center;
 letter-spacing:.03rem;
 position:relative
}
.header-dropdown-toggler img {
 transition:all .3s ease
}
.header-dropdown-toggler[aria-expanded="true"] {
 font-weight:700;
 letter-spacing:0
}
.header-dropdown-toggler[aria-expanded="true"] img {
 transform:rotate(0)
}
.header-dropdown-toggler::after {
 content:'';
 position:absolute;
 top:-1px;
 left:0;
 width:300%;
 height:1px;
 background-color:#d8d8d8;
 transform:translateX(-50%);
 display:none
}
@media (max-width: 991.98px) {
 .header-dropdown-toggler::after {
  display:block
 }
}
.header-dropdown-toggler::before {
 content:'';
 position:absolute;
 bottom:0;
 left:0;
 width:300%;
 height:1px;
 background-color:#d8d8d8;
 transform:translateX(-50%);
 display:none
}
@media (max-width: 991.98px) {
 .header-dropdown-toggler::before {
  display:block
 }
}
@media (max-width: 991.98px) {
 .header-dropdown-toggler {
  justify-content:space-between;
  padding:12px 0;
  font-size:18px;
  font-weight:700;
  letter-spacing:0
 }
 .header-dropdown-toggler img {
  transform:rotate(-90deg)
 }
 .header-dropdown-toggler .angle-icon {
  margin-right:8px
 }
}
.header-dropdown .header-links {
 display:flex;
 line-height:2;
 flex-wrap:wrap
}
.header-dropdown .header-links-group {
 margin-bottom:10px
}
.header-dropdown p.header-dropdown-link {
 margin-bottom:5px
}
@media (max-width: 1199.98px) {
 .header-dropdown p.header-dropdown-link {
  margin-bottom:0
 }
}
.greyout {
  color:rgba(0, 0, 0, 0.5);
}
.header-dropdown-link {
 display:flex;
 align-items:center;
 padding-left:20px;
 position:relative
}
.header-dropdown-link img {
 position:absolute;
 top:50%;
 left:0;
 transform:translateY(-50%);
 width:10px;
 margin-right:10px
}
#aboutUsCollapse .container {
 padding:60px 15px
}
@media (max-width: 1199.98px) {
 #aboutUsCollapse .container {
  padding:40px 15px
 }
}
@media (max-width: 991.98px) {
 #aboutUsCollapse .container {
  flex-direction:column;
  padding:25px 0
 }
}
#aboutUsCollapse .header-banner {
 font-size:28px;
 max-width:400px
}
@media (min-width: 1200px) and (max-width: 1299.98px) {
 #aboutUsCollapse .header-banner {
  font-size:24px;
  max-width:350px
 }
}
@media (max-width: 1199.98px) {
 #aboutUsCollapse .header-banner {
  font-size:20px;
  max-width:280px
 }
}
@media (max-width: 991.98px) {
 #aboutUsCollapse .header-banner {
  font-size:18px;
  font-weight:700;
  max-width:350px;
  margin-bottom:25px
 }
}
#aboutUsCollapse .header-links-group:not(:last-child) {
 margin-right:80px
}
@media (min-width: 1200px) and (max-width: 1299.98px) {
 #aboutUsCollapse .header-links-group:not(:last-child) {
  margin-right:60px
 }
}
@media (max-width: 1199.98px) {
 #aboutUsCollapse .header-links-group:not(:last-child) {
  margin-right:30px
 }
}
@media (max-width: 991.98px) {
 #aboutUsCollapse .header-links-group:not(:last-child) {
  margin-right:60px
 }
}
@media (max-width: 767.98px) {
 #aboutUsCollapse .header-links-group:not(:last-child) {
  margin-right:30px
 }
}
#contributorsCollapse .container {
 align-items:stretch
}
@media (max-width: 991.98px) {
 #contributorsCollapse .container {
  flex-direction:column;
  padding:0
 }
}
#contributorsCollapse .header-links {
 padding:60px 0;
 flex:0 0 70%
}
@media (max-width: 1199.98px) {
 #contributorsCollapse .header-links {
  padding:40px 0
 }
}
@media (max-width: 991.98px) {
 #contributorsCollapse .header-links {
  padding:25px 0;
  flex:0
 }
}
@media (max-width: 767.98px) {
 #contributorsCollapse .header-links {
  display:grid;
  grid-template-columns:1fr 1fr
 }
}
@media (max-width: 420px) {
 #contributorsCollapse .header-links {
  grid-template-columns:1fr
 }
}
#contributorsCollapse .header-links-group:not(:last-child) {
 margin-right:60px
}
@media (min-width: 1200px) and (max-width: 1299.98px) {
 #contributorsCollapse .header-links-group:not(:last-child) {
  margin-right:40px
 }
}
@media (max-width: 1199.98px) {
 #contributorsCollapse .header-links-group:not(:last-child) {
  margin-right:20px
 }
}
@media (max-width: 991.98px) {
 #contributorsCollapse .header-links-group:not(:last-child) {
  margin-right:30px
 }
}
@media (max-width: 767.98px) {
 #contributorsCollapse .header-links-group {
  margin-right:0 !important;
  margin-bottom:10px !important
 }
}
#contributorsCollapse .header-banner {
 position:relative;
 color:white;
 display:flex;
 justify-content:center;
 align-items:flex-start;
 flex-direction:column;
 padding-left:50px;
 flex:0 0 30%
}
@media (max-width: 991.98px) {
 #contributorsCollapse .header-banner {
  flex:0;
  z-index:1;
  padding:25px 0
 }
}
#contributorsCollapse .header-banner .h3 {
 margin-bottom:5px;
 font-size:28px
}
@media (min-width: 1200px) and (max-width: 1299.98px) {
 #contributorsCollapse .header-banner .h3 {
  font-size:24px
 }
}
@media (max-width: 1199.98px) {
 #contributorsCollapse .header-banner .h3 {
  font-size:20px
 }
}
@media (max-width: 991.98px) {
 #contributorsCollapse .header-banner .h3 {
  font-size:28px
 }
}
#contributorsCollapse .header-banner p {
 margin-bottom:15px
}
@media (max-width: 991.98px) {
 #contributorsCollapse .header-banner p {
  max-width:360px
 }
}
#contributorsCollapse .header-banner::after {
 content:'';
 position:absolute;
 top:0;
 left:0;
 height:100%;
 width:270%;
 background-image:linear-gradient(45deg, #8B3583, #E95420);
 z-index:-1
}
@media (max-width: 991.98px) {
 #contributorsCollapse .header-banner::after {
  width:200%;
  transform:translateX(-25%)
 }
}
#communityCollapse .container {
 align-items:center
}
@media (max-width: 991.98px) {
 #communityCollapse .container {
  flex-direction:column;
  align-items:flex-start;
  justify-content:flex-start;
  padding:0
 }
}
#communityCollapse .header-banner {
 display:flex;
 align-items:center;
 flex:0 0 55%
}
@media (max-width: 1199.98px) {
 #communityCollapse .header-banner {
  flex:0 0 50%
 }
}
@media (max-width: 991.98px) {
 #communityCollapse .header-banner {
  flex:0;
  padding:25px 0
 }
}
#communityCollapse .header-banner img {
 max-width:225px;
 width:auto;
 height:100%
}
#communityCollapse .header-banner p {
 padding:0 20px
}
@media (max-width: 767.98px) {
 #communityCollapse .header-banner p {
  padding:0
 }
}
#communityCollapse .header-banner p:first-child {
 font-size:28px;
 line-height:1.4;
 margin-bottom:10px
}
@media (min-width: 1200px) and (max-width: 1299.98px) {
 #communityCollapse .header-banner p:first-child {
  font-size:24px
 }
}
@media (max-width: 1199.98px) {
 #communityCollapse .header-banner p:first-child {
  font-size:20px
 }
}
@media (max-width: 991.98px) {
 #communityCollapse .header-banner p:first-child {
  font-weight:700;
  font-size:18px;
  margin:0;
  max-width:350px
 }
}
#communityCollapse .header-links {
 flex:0 0 45%;
 padding-bottom:25px
}
@media (max-width: 1199.98px) {
 #communityCollapse .header-links {
  flex:0 0 50%
 }
}
@media (max-width: 991.98px) {
 #communityCollapse .header-links {
  flex:0
 }
}
#communityCollapse .header-links-group:not(:last-child) {
 margin-right:60px
}
@media (min-width: 1200px) and (max-width: 1299.98px) {
 #communityCollapse .header-links-group:not(:last-child) {
  margin-right:30px
 }
}
@media (max-width: 1199.98px) {
 #communityCollapse .header-links-group:not(:last-child) {
  margin-right:15px
 }
}
@media (max-width: 991.98px) {
 #communityCollapse .header-links-group:not(:last-child) {
  margin-right:50px
 }
}
@media (max-width: 767.98px) {
 #communityCollapse .header-links-group:not(:last-child) {
  margin-right:30px
 }
}
#getUbuntuTouchCollapse .container {
 padding:25px 0
}
.header-hamburger {
 display:none
}
@media (max-width: 991.98px) {
 .header-hamburger {
  display:block
 }
}
.header-hamburger img {
 width:33px
}
.footer {
 margin-top:auto
}
.footer .container {
 display:flex
}
@media (min-width: 1300px) {
 .footer .container {
  max-width:1300px
 }
}
@media (max-width: 991.98px) {
 .footer .container {
  flex-direction:column
 }
}
.footer-top {
 background-color:#f4f4f4;
 padding:15px 0 20px 0
}
@media (max-width: 991.98px) {
 .footer-top {
  padding:30px 0
 }
}
.footer-top .footer-logo {
 margin-right:50px
}
@media (max-width: 1199.98px) {
 .footer-top .footer-logo {
  margin-right:20px
 }
}
@media (max-width: 991.98px) {
 .footer-top .footer-logo {
  margin-right:0;
  margin-bottom:30px
 }
}
.footer-top .footer-logo p {
 margin-bottom:20px
}
.footer-top .footer-logo a {
 display:block
}
.footer-top .footer-logo img {
 width:180px
}
.footer-top .footer-text {
 max-width:380px;
 margin-top:auto
}
@media (max-width: 991.98px) {
 .footer-top .footer-text {
  margin-bottom:30px
 }
}
.footer-top .footer-social {
 margin-left:auto
}
@media (max-width: 991.98px) {
 .footer-top .footer-social {
  margin-left:0
 }
}
.footer-top .footer-social p {
 margin-bottom:30px;
 font-size:13px
}
@media (max-width: 991.98px) {
 .footer-top .footer-social p {
  margin-bottom:20px
 }
}
.footer-top .footer-social ul {
 display:flex
}
.footer-top .footer-social ul li:not(:last-child) {
 margin-right:10px
}
.footer-top .footer-social ul a {
 display:block
}
.footer-bottom {
 padding:15px 0 30px 0
}
@media (max-width: 767.98px) {
 .footer-bottom {
  text-align:center
 }
}
.footer-bottom .container {
 justify-content:flex-start
}
@media (max-width: 1199.98px) {
 .footer-bottom .container {
  flex-direction:column
 }
}
.footer-bottom p {
 font-size:13px
}
@media (max-width: 767.98px) {
 .footer-bottom p:first-child {
  margin-bottom:10px
 }
}
.footer-bottom span {
 margin:0 10px
}
@media (max-width: 1199.98px) {
 .footer-bottom span {
  margin:0 5px
 }
}
.breadcrumbs {
 padding:15px 0
}
.breadcrumbs .container {
 display:flex;
 align-items:center
}
@media (min-width: 1300px) {
 .breadcrumbs .container {
  max-width:1300px
 }
}
.breadcrumbs img {
 margin:0 15px
}
@media (max-width: 575.98px) {
 .breadcrumbs img {
  margin:0 10px
 }
}
.breadcrumbs a:hover {
 text-decoration:underline
}
.breadcrumbs--bordered {
 border-bottom:1px solid #d8d8d8
}
.btn {
 font-size:inherit;
 display:flex;
 justify-content:center;
 align-items:center;
 font-weight:700;
 padding:8px 25px;
 transition:all .3s ease-in-out
}
.btn:active,
.btn:focus {
 outline:none !important;
 box-shadow:none !important
}
.btn-primary {
 background-color:#8B3583;
 border:1px solid #8B3583
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
 background-color:#3A0628 !important;
 border:1px solid #3A0628 !important
}
.btn-outline-primary {
 border:1px solid #8B3583;
 color:#8B3583;
 background-color:white
}
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus {
 background-color:#8B3583 !important;
 color:white !important;
 border:1px solid #8B3583 !important
}
.btn-secondary {
 background-color:#4B39FF;
 border:1px solid #4B39FF
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
 background-color:#1d06ff !important;
 border:1px solid #1d06ff !important
}
.btn-tertiary {
 background-image:linear-gradient(90deg, #8C3683, #C0474C);
 border:none;
 color:white
}
.btn-tertiary:hover,
.btn-tertiary:active,
.btn-tertiary:focus {
 color:white
}
.btn-download {
 display:flex;
 align-items:center;
 justify-content:center;
 font-weight:300;
 text-align:left;
 border:1px solid black;
 border-radius:0
}
.btn-download .system-icon {
 height:57px;
 width:57px;
 object-fit:contain
}
.btn-download .download-icon {
 width:25px
}
.btn-download div {
 margin:0 25px
}
@media (max-width: 1199.98px) {
 .btn-download div {
  margin:0 auto 0 25px
 }
}
.btn-download p {
 margin-bottom:0 !important
}
.btn-download:hover {
 background-color:white
}
.btn-small {
 padding:5px 16px !important;
 font-size:13px;
 font-weight:300
}
.btn-rounded {
 border-radius:100px
}
.card {
 border:0;
 box-shadow:0px 8px 30px rgba(0,0,0,0.1);
 border-radius:6px
}
.code {
 display:block;
 font-family:'ubuntu-mono';
 font-size:15px;
 background-color:#f3f3f3;
 color:black;
 padding:15px;
 border-left:10px solid #7D1F4D
}
.code--solid {
 color:white;
 background-color:#3A0628;
 border-left:none
}
.dropdown-menu {
 min-width:100%;
 margin-top:10px;
 box-shadow:0 0 10px rgba(0,0,0,0.1);
 border:none;
 display:block;
 opacity:0;
 visibility:hidden;
 transform:translateY(-10px);
 transition:all .15s ease-in-out;
 backface-visibility:hidden
}
.dropdown-menu.show {
 opacity:1;
 visibility:visible;
 transform:translateY(0)
}
.dropdown-item {
 padding:10px 20px;
 line-height:1.1
}
.dropdown-item:not(:last-child) {
 border-bottom:1px solid #f4f4f4
}
.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus {
 background-color:#f4f4f4;
 color:black
}
.angle-icon {
 width:13px;
 margin-left:10px
}
.angle-icon-gradient {
 width:30px;
 margin-left:10px
}
.social-media-icon {
 width:30px
}
.git-icon {
 width:20px;
 margin:0 5px
}
.input {
 background-color:#f4f4f4;
 width:100%;
 border:1px solid #dadada;
 font-size:17px;
 font-weight:700;
 padding:20px 25px;
 transition:all .3s ease
}
.input::placeholder {
 color:#bdbdbd
}
input:focus {
 border:1px solid black
}
@media (min-width: 576px) {
 .popup .modal-dialog {
  max-width:510px
 }
}
@media (min-width: 768px) {
 .popup .modal-dialog {
  max-width:690px
 }
}
@media (min-width: 992px) {
 .popup .modal-dialog {
  max-width:930px
 }
}
@media (min-width: 1200px) {
 .popup .modal-dialog {
  max-width:1110px
 }
}
@media (min-width: 1300px) {
 .popup .modal-dialog {
  max-width:1220px
 }
}
.popup .modal-content {
 border-radius:15px;
 border:none
}
.popup .modal-header {
 border:none;
 padding:35px 25px
}
.popup .modal-header button {
 display:flex;
 align-items:center;
 justify-content:flex-start;
 border:none;
 background-color:transparent
}
.popup .modal-header button img {
 width:30px;
 margin-right:10px
}
.popup .modal-body {
 padding:25px 0 125px 80px;
 max-width:70%;
 position:relative;
 z-index:2
}
.popup .modal-body .h1 {
 margin-bottom:30px
}
@media (max-width: 767.98px) {
 .popup .modal-body .h1 {
  font-size:40px
 }
}
.popup .modal-body p {
 max-width:680px
}
@media (max-width: 1199.98px) {
 .popup .modal-body p {
  max-width:500px
 }
}
@media (max-width: 991.98px) {
 .popup .modal-body p {
  max-width:100%
 }
}
@media (max-width: 1199.98px) {
 .popup .modal-body {
  padding:15px 0 80px 80px
 }
}
@media (max-width: 991.98px) {
 .popup .modal-body {
  padding:15px 25px 100px 25px;
  max-width:100%
 }
}
@media (max-width: 768px) {
 .popup .modal-body {
  padding:0 25px 60px 25px
 }
}
.popup .bg-img {
 position:absolute;
 bottom:0;
 right:8%;
 height:100%;
 z-index:0
}
.popup .bg-img img {
 height:100%
}
@media (max-width: 991.98px) {
 .popup .bg-img {
  display:none
 }
}
.progress {
 border-radius:100px;
 background-color:#efedec;
 height:20px
}
.progress-bar {
 background-color:transparent;
 background-image:linear-gradient(90deg, #8C3683, #C0474C);
 border-radius:100px
}
#listOfDevices .progress-sidebar {
 height:2px;
 margin-bottom: 20px
}
#listOfDevices .active {
 font-weight: 700;
}
.blog-hero img {
 width:100%
}
.blog-nav {
 font-size:15px;
 padding:30px 0 20px 0
}
.blog-nav a:hover {
 text-decoration:underline
}
.blog-posts {
 margin-bottom:250px
}
.blog-posts h1 {
 margin-bottom:55px
}
@media (max-width: 991.98px) {
 .blog-posts h1 {
  margin-bottom:30px
 }
}
.blog-posts__grid {
 display:grid;
 grid-template-columns:1fr 1fr;
 column-gap:45px;
 row-gap:35px
}
@media (max-width: 991.98px) {
 .blog-posts__grid {
  grid-template-columns:1fr;
  row-gap:25px
 }
}
.blog-posts .blog-post {
 border-radius:5px;
 border:1px solid #f4f4f4;
 box-shadow:0 10px 10px rgba(0,0,0,0.1);
 display:flex;
 overflow:hidden;
 transition:all .3s ease;
 transform:translate3d(0, 0, 0)
}
.blog-posts .blog-post__icon {
 flex:0 0 20%;
 display:flex;
 align-items:center;
 justify-content:center;
 padding:0 10px
}
.blog-posts .blog-post__icon img {
 height:50px;
 margin-bottom:5px
}
@media (max-width: 1199.98px) {
 .blog-posts .blog-post__icon {
  flex:0 0 25%
 }
}
@media (max-width: 991.98px) {
 .blog-posts .blog-post__icon {
  flex:0 0 20%
 }
}
@media (max-width: 370px) {
 .blog-posts .blog-post__icon {
  flex:0 0 25%
 }
}
.blog-posts .blog-post__text {
 flex:0 0 80%;
 padding:15px 25px
}
.blog-posts .blog-post__text .h4 {
 margin-bottom:15px
}
@media (max-width: 575.98px) {
 .blog-posts .blog-post__text .h4 span {
  display:block;
  font-weight:700
 }
}
.blog-posts .blog-post__text p {
 display:flex;
 align-items:center
}
.blog-posts .blog-post__text p:not(:last-child) {
 margin-bottom:10px
}
.blog-posts .blog-post__text p img {
 width:15px;
 margin-right:5px
}
@media (max-width: 1199.98px) {
 .blog-posts .blog-post__text {
  flex:0 0 75%
 }
}
@media (max-width: 991.98px) {
 .blog-posts .blog-post__text {
  flex:0 0 80%
 }
}
@media (max-width: 575.98px) {
 .blog-posts .blog-post__text {
  padding:20px
 }
}
@media (max-width: 370px) {
 .blog-posts .blog-post__text {
  flex:0 0 75%
 }
}
.blog-posts .blog-post:hover {
 transform:translate3d(0, -2px, 0);
 box-shadow:0 10px 25px rgba(0,0,0,0.15)
}
@media (max-width: 991.98px) {
 .blog-posts .blog-post:hover {
  transform:none;
  box-shadow:0 10px 10px rgba(0,0,0,0.1)
 }
}
@media (max-width: 991.98px) {
 .blog-posts {
  margin-bottom:150px
 }
}
@media (max-width: 575.98px) {
 .blog-posts {
  margin-bottom:100px
 }
}
.blog-post-hero {
 position:relative
}
.blog-post-hero img {
 width:100%
}
@media (max-width: 767.98px) {
 .blog-post-hero img {
  min-height:400px;
  object-fit:cover
 }
}
.blog-post-hero .container {
 position:absolute;
 top:50%;
 left:50%;
 width:100%;
 transform:translate(-50%, -50%);
 text-align:center
}
.blog-post-content {
 padding:50px 0 80px 0
}
@media (min-width: 1200px) {
 .blog-post-content .container {
  max-width:1060px
 }
}
.blog-post-content .h1,
.blog-post-content .h2,
.blog-post-content .h3,
.blog-post-content .h4 {
 margin-bottom:25px
}
.blog-post-content p,
.blog-post-content code {
 margin-bottom:25px;
 font-size:15px
}
@media (max-width: 575.98px) {
 .blog-post-content p,
 .blog-post-content code {
  font-size:14px
 }
}
.blog-post-content img {
 margin-bottom:45px
}
@media (max-width: 575.98px) {
 .blog-post-content img {
  margin-bottom:25px
 }
}
.blog-post-content .container>*:last-child {
 margin:0
}

.page-content .boxed::after {
 content:'';
 position:absolute;
 left:0;
 top:0px;
 width:100%;
 height:100%;
 background-color: #FBFBFB;
 z-index:-1;
}
.page-content .boxed {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-top:15px;
  margin-right: 1%;
  margin-bottom: 1%;
}
@media (min-width: 991.98px) {
  .page-content .boxed {
  flex: 0 0 50%;
  max-width: 49%;
 }
}
.page-content .boxed a {
  color:#4B39FF;
  font-weight:bold;
}



.community-centers {
 padding:90px 0 160px 0;
 text-align:center
}
@media (max-width: 991.98px) {
 .community-centers {
  padding:30px 0 90px 0;
  text-align:left
 }
}
@media (min-width: 1300px) {
 .community-centers .container {
  max-width:1300px
 }
}
.community-centers__header {
 margin-bottom:100px
}
@media (max-width: 991.98px) {
 .community-centers__header {
  margin-bottom:50px
 }
}
.community-centers__header h1 {
 max-width:700px;
 margin:0 auto 40px auto
}
@media (max-width: 1199.98px) {
 .community-centers__header h1 {
  max-width:600px
 }
}
@media (max-width: 991.98px) {
 .community-centers__header h1 {
  margin:0 0 20px 0;
  max-width:500px
 }
}
.community-centers__header p {
 max-width:850px;
 margin-left:auto;
 margin-right:auto
}
.community-centers__header p:not(:last-child) {
 margin-bottom:25px
}
@media (max-width: 991.98px) {
 .community-centers__header p:not(:last-child) {
  margin-bottom:15px
 }
}
.community-centers__body {
 display:grid;
 grid-template-columns:repeat(5, 1fr);
 column-gap:60px
}
@media (max-width: 1299px) {
 .community-centers__body {
  column-gap:20px
 }
}
@media (max-width: 991.98px) {
 .community-centers__body {
  grid-template-columns:1fr 1fr 1fr;
  row-gap:40px
 }
}
@media (max-width: 575.98px) {
 .community-centers__body {
  grid-template-columns:1fr 1fr;
  row-gap:40px
 }
}
.community-centers__body .center {
 display:flex;
 flex-direction:column;
 align-items:center;
 justify-content:flex-start
}
.community-centers__body .center img {
 height:150px;
 margin-bottom:15px
}
@media (max-width: 1199.98px) {
 .community-centers__body .center img {
  height:120px
 }
}
.community-centers__body .center h2 {
 margin-bottom:10px
}
@media (max-width: 991.98px) {
 .community-centers__body .center {
  align-items:flex-start;
  max-width:220px
 }
}
.home-hero {
 padding:90px 0 150px 0
}
@media (max-width: 1299.98px) {
 .home-hero {
  padding:70px 0 100px 0
 }
}
@media (max-width: 991.98px) {
 .home-hero {
  padding:50px 0 140px 0
 }
}
.home-hero .container {
 display:flex;
 align-items:center
}
@media (min-width: 1300px) {
 .home-hero .container {
  max-width:1300px
 }
}
@media (max-width: 991.98px) {
 .home-hero .container {
  flex-direction:column-reverse
 }
}
.home-hero__text {
 flex:0 0 50%;
 padding-right:25px
}
@media (max-width: 991.98px) {
 .home-hero__text {
  padding-right:0
 }
}
.home-hero__text h1 {
 line-height:1.1;
 margin-bottom:15px
}
.home-hero__text p {
 font-size:30px;
 line-height:1.3;
 margin-bottom:45px
}
@media (max-width: 1199.98px) {
 .home-hero__text p {
  margin-bottom:30px
 }
}
.home-hero__text button {
 margin-bottom:80px
}
@media (max-width: 1199.98px) {
 .home-hero__text button {
  margin-bottom:50px
 }
}
.home-hero__text .home-hero__visits {
 display:flex;
 align-items:center;
 justify-content:center;
 max-width:450px
}
@media (max-width: 575.98px) {
 .home-hero__text .home-hero__visits .h4 {
  font-size:14px
 }
}
.home-hero__img {
 flex:0 0 50%;
 display:flex;
 align-items:center;
 justify-content:flex-end
}
.home-hero__img img {
 max-width:570px;
 width:100%
}
@media (max-width: 991.98px) {
 .home-hero__img {
  margin-bottom:50px
 }
}
.home-devices {
 background-color:#3A0628;
 color:white;
 overflow:hidden
}
@media (max-width: 991.98px) {
 .home-devices {
  background-color:white;
  color:black
 }
}
.home-devices .container {
 display:flex;
 align-items:center;
 justify-content:space-between
}
@media (min-width: 1300px) {
 .home-devices .container {
  max-width:1300px
 }
}
@media (max-width: 991.98px) {
 .home-devices .container {
  flex-direction:column
 }
}
.home-devices__text {
 flex:0 0 15%
}
@media (max-width: 991.98px) {
 .home-devices__text {
  flex:0;
  margin-bottom:25px
 }
}
.home-devices__img {
 flex:0 0 78%;
 position:relative;
 display:grid;
 grid-template-columns:repeat(5, 1fr);
 padding-top:60px
}
@media (max-width: 991.98px) {
 .home-devices__img {
  flex:0;
  width:100%;
  padding-top:40px
 }
}
@media (max-width: 767.98px) {
 .home-devices__img {
  padding-top:30px
 }
}
.home-devices__img .device {
 margin-bottom:-250px;
 text-align:center;
 transition:all .3s ease;
 color:white
}
.home-devices__img .device p {
 margin-bottom:10px
}
@media (max-width: 575.98px) {
 .home-devices__img .device p {
  font-size:12px
 }
}
@media (max-width: 370.98px) {
 .home-devices__img .device p {
  font-size:10px
 }
}
.home-devices__img .device:hover {
 transform:translateY(-15px)
}
@media (max-width: 1199.98px) {
 .home-devices__img .device {
  margin-bottom:-180px
 }
}
@media (max-width: 991.98px) {
 .home-devices__img .device {
  margin-bottom:-150px
 }
}
@media (max-width: 767.98px) {
 .home-devices__img .device {
  margin-bottom:-120px
 }
}
@media (max-width: 575.98px) {
 .home-devices__img .device {
  margin-bottom:-80px
 }
}
.home-devices__img .device:nth-child(1) {
 position:relative;
 z-index:6
}
.home-devices__img .device:nth-child(2) {
 position:relative;
 z-index:5;
 margin-left:-10%
}
.home-devices__img .device:nth-child(3) {
 position:relative;
 z-index:4;
 margin-left:-10%
}
.home-devices__img .device:nth-child(4) {
 position:relative;
 z-index:3;
 margin-left:-10%
}
.home-devices__img .device:nth-child(5) {
 position:relative;
 z-index:2;
 margin-left:-10%
}
.home-devices__img::after {
 position:absolute;
 top:0;
 left:0;
 width:300%;
 height:100%;
 background-color:#3A0628;
 z-index:0;
 transform:translateX(-25%)
}
@media (max-width: 991.98px) {
 .home-devices__img::after {
  content:''
 }
}
.home-contributors {
 padding:50px 0 80px 0;
 overflow:hidden
}
@media (max-width: 991.98px) {
 .home-contributors {
  padding:50px 0
 }
}
@media (max-width: 991.98px) {
 .home-contributors h2 {
  text-align:center
 }
}
@media (min-width: 1300px) {
 .home-contributors .container {
  max-width:1300px
 }
}
.home-contributors__slider .swiper-container {
 overflow:visible;
 max-width:100%
}
.home-contributors__slider .swiper-wrapper {
 margin:0 -30px;
 padding:30px
}
.home-contributors__slider .card {
 padding:25px 15px;
 display:flex;
 flex-direction:row;
 align-items:center;
 justify-content:space-between
}
.home-contributors__slider .card h4 {
 color:#7D1F4D;
 margin-bottom:5px
}
.home-contributors__slider .card__icon {
 flex:0 0 25%;
 display:flex;
 align-items:center;
 justify-content:flex-end
}
.home-contributors__slider .card__icon img {
 margin:0;
 transform:rotate(-90deg)
}
.home-contributors .swiper-scrollbar-drag {
 height:4px;
 width:190px;
 background-image:linear-gradient(225deg, #E95420, #8B3583);
 border-radius:3px
}
@media (max-width: 991.98px) {
 .home-contributors .swiper-scrollbar-drag {
  width:110px
 }
}
.home-media {
 padding:90px 0
}
@media (max-width: 991.98px) {
 .home-media {
  padding:50px 0
 }
}
.home-media .container {
 display:flex;
 align-items:center
}
@media (min-width: 1300px) {
 .home-media .container {
  max-width:1300px
 }
}
@media (max-width: 991.98px) {
 .home-media .container {
  flex-direction:column-reverse
 }
}
.home-media--alt .container {
 flex-direction:row-reverse
}
@media (max-width: 991.98px) {
 .home-media--alt .container {
  flex-direction:column-reverse
 }
}
.home-media--alt .home-media__text {
 padding-right:0;
 padding-left:70px
}
@media (max-width: 991.98px) {
 .home-media--alt .home-media__text {
  padding:0
 }
}
.home-media__text {
 flex:0 0 50%;
 padding-right:70px
}
@media (max-width: 991.98px) {
 .home-media__text {
  padding:0;
  margin-top:70px
 }
}
.home-media__text h2 {
 margin-bottom:10px
}
.home-media__text a {
 font-size:26px;
 font-family:'ubuntu-mono';
 margin-bottom:30px;
 display:block
}
.home-media__text p {
 font-size:28px;
 line-height:1.4
}
@media (max-width: 1299.98px) {
 .home-media__text p {
  font-size:24px
 }
}
@media (max-width: 1199.98px) {
 .home-media__text p {
  font-size:20px
 }
}
@media (max-width: 575.98px) {
 .home-media__text p {
  font-size:16px
 }
}
.home-media__text p:not(:last-child) {
 margin-bottom:15px
}
.home-media__img {
 flex:0 0 50%
}
.home-design {
 text-align:center;
 padding:140px 0 100px 0
}
@media (max-width: 991.98px) {
 .home-design {
  padding:10px 0;
  text-align:left
 }
}
.home-design h2 {
 margin-bottom:30px
}
@media (max-width: 991.98px) {
 .home-design h2 {
  margin-bottom:20px
 }
}
.home-design p {
 font-size:28px;
 max-width:830px;
 margin:0 auto
}
@media (max-width: 991.98px) {
 .home-design p {
  font-size:20px
 }
}
@media (max-width: 575.98px) {
 .home-design p {
  font-size:16px
 }
}
.home-design p:not(:last-child) {
 margin-bottom:15px
}
.home-posts {
 padding:100px 0 90px 0
}
@media (max-width: 991.98px) {
 .home-posts {
  padding:50px 0
 }
}
@media (min-width: 1300px) {
 .home-posts .container {
  max-width:1300px
 }
}
@media (max-width: 575.98px) {
 .home-posts .container {
  padding-right:0
 }
}
.home-posts h2 {
 margin-bottom:25px
}
.home-posts .home-post {
 display:block
}
.home-posts .home-post .line {
 margin:12px 0;
 width:95px;
 height:2px;
 background-color:#E95420
}

#featuresHero {
  background:url("/img/features/purplebg.svg") no-repeat 0 0;
  color: white;
}
@media (max-width: 1299.98px) {
 #featuresHero {

 }
}
@media (max-width: 991.98px) {
 #featuresHero {

 }
}

.features-hero__text {
 flex:0 0 50%;
 padding-right:25px
}
@media (max-width: 991.98px) {
 .features-hero__text {
  padding-right:0
 }
}
.features-hero__text h1 {
 line-height:1.1;
 margin-bottom:15px
}
.features-hero__text p {
 font-size:30px;
 line-height:1.3;
 margin-bottom:15px;
}
@media (max-width: 1199.98px) {
 .features-hero__text p {
  margin-bottom:30px
 }
}
.features-hero__text button {
 margin-bottom:80px
}
@media (max-width: 1199.98px) {
 .features-hero__text button {
  margin-bottom:50px
 }
}
.features-hero__text .home-hero__visits {
 display:flex;
 align-items:center;
 justify-content:center;
 max-width:450px
}
@media (max-width: 575.98px) {
 .features-hero__text .home-hero__visits .h4 {
  font-size:14px
 }
}
.features-hero__img {
 flex:0 0 50%;
 display:flex;
 align-items:center;
 justify-content:flex-end
}
.features-hero__img img {
 max-width:500px;
 width:100%
}
@media (max-width: 991.98px) {
 .features-hero__img {
  margin-bottom:50px
 }
}


.features-new {
 padding:90px 0
}
.features-new img.check {
  float: left;
  padding: 14px 20px 0px 0;
}

@media (max-width: 991.98px) {
 .features-new {
  padding:50px 0
 }
}

.features-new .container {
 align-items:center;
 display:flex;

}
.features-new .list {
  flex: 0 0 50%;
}
.features-new .list p {
  line-height: 2;
}
@media (min-width: 1300px) {
 .features-new .container {
  max-width:1180px;
 }
}
@media (max-width: 991.98px) {
 .features-new .container {
  flex-direction:column-reverse
 }
}
.features-new--alt .container {
 flex-direction:row-reverse
}
@media (max-width: 991.98px) {
 .features-new--alt .container {
  flex-direction:column-reverse
 }
.features-new--alt {
 padding-right:0;
 padding-left:70px;

}
@media (max-width: 991.98px) {

 }
}
@media (max-width: 991.98px) {

}
.features-new h2 {
 margin-bottom:40px
}
.features-new a {
}
.features-new p {
 font-size:28px;
 line-height:1.4
}
@media (max-width: 1299.98px) {
 .features-new__text p {
  font-size:24px
 }
}
@media (max-width: 1199.98px) {
 .features-new__text p {
  font-size:20px
 }
}
@media (max-width: 575.98px) {
 .features-new__text p {
  font-size:16px
 }
}
.features-new__text p:not(:last-child) {
 margin-bottom:15px
}
.features-new__img {
 flex:0 0 50%
}




.features-media {
 padding:90px 0
}
@media (max-width: 991.98px) {
 .features-media {
  padding:50px 0
 }
}
.features-media .container {
 display:flex;
 align-items:center
}
@media (min-width: 1300px) {
 .features-media .container {
  max-width:1180px;
 }
}
@media (max-width: 991.98px) {
 .features-media .container {
  flex-direction:column-reverse
 }
}
.features-media--alt .container {
 flex-direction:row-reverse
}
@media (max-width: 991.98px) {
 .features-media--alt .container {
  flex-direction:column-reverse
 }
}
.features-media--alt .home-media__text {
 padding-right:0;
 padding-left:70px
}
@media (max-width: 991.98px) {
 .features-media--alt .home-media__text {
  padding:0
 }
}
.features-media__text {
 flex:0 0 50%;
 padding-right:70px
}
@media (max-width: 991.98px) {
 .features-media__text {
  padding:0;
  margin-top:70px
 }
}
.features-media__text h2 {
 margin-bottom:10px
}
.features-media__text a {
 font-size:26px;
 font-family:'ubuntu-mono';
 margin-bottom:30px;
 display:block
}
.features-media__text p {
 font-size:20px;
 line-height:1.4
}
@media (max-width: 1299.98px) {
 .features-media__text p {
  font-size:24px
 }
}
@media (max-width: 1199.98px) {
 .features-media__text p {
  font-size:20px
 }
}
@media (max-width: 575.98px) {
 .features-media__text p {
  font-size:16px
 }
}
.features-media__text p:not(:last-child) {
 margin-bottom:15px
}
.features-media__img {
 flex:0 0 50%
}

.page-hero img {
 max-width:100%;
 width:100%
}
.page-content {
 padding:80px 0 120px 0
}
.page-content ul {
 list-style:normal;
}
@media (max-width: 991.98px) {
 .page-content {
  padding:40px 0 60px 0;
  overflow:hidden
 }
}
.page-content .container {
 display:flex;
 align-items:flex-start
}
@media (min-width: 1300px) {
 .page-content .container {
  max-width:1100px
 }
}
@media (max-width: 991.98px) {
 .page-content .container {
  flex-direction:column
 }
}
.page-content .content {
 flex:0 0 70%;
 padding-right:45px
}
.page-content .content .h1,
.page-content .content .h2 {
 margin-bottom:45px;
 line-height:1
}
@media (max-width: 991.98px) {
 .page-content .content .h1,
 .page-content .content .h2 {
  margin-bottom:35px
 }
}
.page-content .content .h3 {
 margin-bottom:35px
}
@media (max-width: 1299.98px) {
 .page-content .content .h3 {
  margin-bottom:25px
 }
}
.page-content .content .h4 {
 margin-bottom:15px
}
.page-content .content p {
  font-size:17px;
  margin-bottom:15px;
  line-height:1.5
}
@media (max-width: 991.98px) {
 .page-content .content p {
  margin-bottom:25px
 }
}
@media (max-width: 991.98px) {
 .page-content .content {
  flex:0;
  padding-right:0
 }
}
.page-content .read-more {
 position:sticky;
 position:-webkit-sticky;
 top:120px;
 flex:0 0 30%;
 color:white;
 padding:40px 50px
}
.page-content .read-more h2 {
 margin-bottom:10px
}
.page-content .read-more ul {
 line-height:1.75
}
.page-content .read-more a:hover {
 text-decoration:underline
}
.page-content .read-more::after {
 content:'';
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:100%;
 background-image:linear-gradient(90deg, #8B3583, #E95420);
 z-index:-1
}
@media (max-width: 991.98px) {
 .page-content .read-more::after {
  width:150%;
  transform:translateX(-15%)
 }
}
@media (max-width: 991.98px) {
 .page-content .read-more {
  flex:0;
  width:100%;
  margin-top:20px;
  padding:40px 0 45px 0;
  position:relative;
  top:0
 }
}
.page-content--sidebar {
 padding:80px 0 50px 0
}
@media (max-width: 1199.98px) {
 .page-content--sidebar {
  padding:50px 0
 }
}
@media (max-width: 991.98px) {
 .page-content--sidebar {
  padding:30px 0
 }
}
@media (min-width: 1300px) {
 .page-content--sidebar .container {
  max-width:1300px
 }
}
@media (max-width: 991.98px) {
 .page-content--sidebar .container {
  flex-direction:column-reverse
 }
}
.page-content--sidebar .content {
 padding-right:100px
}
@media (max-width: 1299.98px) {
 .page-content--sidebar .content {
  padding-right:60px
 }
}
@media (max-width: 991.98px) {
 .page-content--sidebar .content {
  padding-right:0
 }
}
.page-content--sidebar .sidebar {
 position:sticky;
 top:120px;
 flex:0 0 30%
}
@media (min-width: 992px) {
 .page-content--sidebar .sidebar .collapse {
  display:block !important
 }
}
.page-content--sidebar .sidebar-banner {
 border:1px solid #d8d8d8;
 background-color:#f4f4f4;
 padding:25px;
 margin-bottom:25px
}
.page-content--sidebar .sidebar-banner .btn {
 margin-top:15px
}
@media (max-width: 991.98px) {
 .page-content--sidebar .sidebar-banner {
  margin-top:10px
 }
}
.page-content--sidebar .sidebar-navigation h3 {
 margin-bottom:25px
}
.page-content--sidebar .sidebar-navigation ul {
 padding-left:25px
}
.page-content--sidebar .sidebar-navigation a {
 padding:0 !important;
 padding-left:12px !important;
 line-height:2.5;
 background-color:white;
 color:black;
 border:none;
 border-left:3px solid #d8d8d8;
 border-radius:0;
 letter-spacing:0.029em
}
.page-content--sidebar .sidebar-navigation a.active {
 border-color:black;
 font-weight:700;
 letter-spacing:0
}
.page-content--sidebar .sidebar-navigation a:hover {
 text-decoration:underline
}
@media (max-width: 991.98px) {
 .page-content--sidebar .sidebar-navigation {
  margin-bottom:25px
 }
}
.page-content--sidebar .sidebar-toggler {
 display:flex;
 justify-content:space-between;
 align-items:center;
 width:100%;
 padding:15px 0
}
@media (max-width: 991.98px) {
 .page-content--sidebar .sidebar {
  position:relative;
  top:0;
  width:100%;
  flex:0;
  margin-bottom:35px
 }
 .page-content--sidebar .sidebar::after {
  content:'';
  position:absolute;
  bottom:0;
  left:50%;
  height:1px;
  width:200%;
  background-color:#d8d8d8;
  transform:translateX(-50%)
 }
}
.page-links {
 margin-top:200px
}
@media (max-width: 1199.98px) {
 .page-links {
  margin-top:100px
 }
}
.page-links .page-resources {
 display:flex;
 flex-wrap:wrap;
 margin-bottom:50px;
 line-height:2
}
@media (max-width: 1299.98px) {
 .page-links .page-resources {
  flex-direction:column
 }
}
.page-links .page-resources>div:not(:last-child) {
 margin-right:30px;
 margin-bottom:50px
}
@media (max-width: 1299.98px) {
 .page-links .page-resources>div:not(:last-child) {
  margin-bottom:40px;
  margin-right:0
 }
}
.page-links .page-resources .arrow {
 margin-right:15px
}
.page-links .page-discussions ul {
 display:flex;
 padding-left:30px;
 flex-wrap:wrap
}
.page-links .page-discussions ul li {
 min-width:185px;
 margin-bottom:30px;
 padding-right:15px
}
.page-links .page-discussions ul a {
 display:flex;
 align-items:center
}
.page-links .page-discussions ul a img {
 margin-right:15px
}
.page-faq {
 background-color:#f4f4f4;
 margin-bottom:4px;
 padding:65px 0
}
@media (max-width: 991.98px) {
 .page-faq {
  padding:50px 0
 }
}
@media (min-width: 1200px) {
 .page-faq .container {
  max-width:1300px
 }
}
.page-faq h2 {
 text-align:center;
 margin-bottom:50px
}
@media (max-width: 991.98px) {
 .page-faq h2 {
  margin-bottom:40px
 }
}
.page-faq .questions {
 max-width:680px;
 margin:0 auto
}
.page-faq ul {
 margin-bottom:50px
}
@media (max-width: 991.98px) {
 .page-faq ul {
  margin-bottom:40px
 }
}
.page-faq li {
 background-color:white;
 border-radius:6px;
 padding:12px 20px
}
.page-faq li:not(:last-child) {
 margin-bottom:15px
}
.page-faq li>a {
 display:flex;
 justify-content:space-between;
 align-items:center;
 transition:color .3s ease;
 letter-spacing:0.029em
}
.page-faq li>a img {
 transition:all .3s ease
}
.page-faq li>a[aria-expanded="true"] {
 font-weight:700;
 color:#4B39FF;
 letter-spacing:0
}
.page-faq li>a[aria-expanded="false"] img {
 transform:rotate(-90deg)
}
.page-faq li .collapse p,
.page-faq li .collapsing p {
 margin-top:8px
}
.ports {
 padding-bottom:200px;
 overflow:hidden
}
@media (max-width: 1199.98px) {
 .ports {
  padding-bottom:120px
 }
}
@media (max-width: 991.98px) {
 .ports {
  padding-bottom:35px
 }
}
.ports .container {
 display:flex
}
@media (min-width: 1300px) {
 .ports .container {
  max-width:1300px
 }
}
@media (max-width: 991.98px) {
 .ports .container {
  flex-direction:column
 }
}
.ports .sidebar {
 flex:0 0 30%;
 position:relative
}
@media (max-width: 991.98px) {
 .ports .sidebar {
  flex:0
 }
}
.ports .sidebar .sidebar-toggler {
 display:flex;
 align-items:center;
 justify-content:space-between;
 position:relative;
 z-index:10;
 padding:17px 0
}
.ports .sidebar .sidebar-toggler .value {
 margin-left:auto;
 margin-right:25px;
 padding-left:15px
}
.ports .sidebar .sidebar-toggler::after {
 content:'';
 position:absolute;
 bottom:0;
 left:50%;
 width:200%;
 height:1px;
 background-color:#d8d8d8;
 z-index:-1;
 transform:translateX(-50%)
}
@media (max-width: 991.98px) {
 .ports .sidebar .sidebar-toggler::before {
  content:'';
  position:absolute;
  top:0;
  left:50%;
  height:100%;
  width:150%;
  transform:translateX(-50%);
  background-color:white;
  z-index:-1
 }
}
@media (min-width: 992px) {
 .ports .sidebar .collapse {
  display:block
 }
}
.ports .sidebar .collapsing {
 transition:height .5s ease
}
.ports .sidebar .nav-tabs {
 position:relative;
 border:none
}
.ports .sidebar .nav-tabs .nav-item {
 margin:0
}
.ports .sidebar .nav-tabs .nav-item.show .nav-link,
.ports .sidebar .nav-tabs .nav-link.active {
 font-weight:700;
 color:black;
 letter-spacing:0;
 border-bottom:5px solid #E95420
}
.ports .sidebar .nav-tabs .nav-link {
 border-radius:0;
 border:none;
 border-bottom:5px solid transparent;
 padding:15px 25px 10px 25px;
 font-size:18px;
 letter-spacing:0.035em
}
@media (max-width: 1199.98px) {
 .ports .sidebar .nav-tabs .nav-link {
  font-size:16px;
  padding:15px 15px 10px 15px
 }
}
.ports .sidebar .nav-tabs::after {
 content:'';
 position:absolute;
 bottom:-1px;
 left:0;
 height:1px;
 width:5000px;
 background-color:#d8d8d8;
 z-index:-1;
 transform:translateX(-25%)
}
@media (max-width: 991.98px) {
 .ports .sidebar .nav-tabs::after {
  display:none
 }
}
.ports .sidebar .input {
 margin-bottom:10px
}
.ports .sidebar .tab-content,
.ports .sidebar .built-with {
 margin-right:30px
}
.ports .sidebar .tab-content {
 margin-bottom:60px;
 position:relative
}
@media (max-width: 991.98px) {
 .ports .sidebar .tab-content {
  margin:0;
  background-color:#f4f4f4;
  padding:15px 0
 }
 .ports .sidebar .tab-content::after {
  content:'';
  position:absolute;
  bottom:0;
  left:50%;
  width:200%;
  height:100%;
  background-color:#f4f4f4;
  z-index:-1;
  transform:translateX(-50%)
 }
}
.ports .sidebar .tab-content .h3 {
 margin-top: 20px;
}
.ports .sidebar .tab-content li {
 padding:0 !important;
 line-height:2;
 border:none;
 border-radius:0;
 font-size:15px
}
.ports .sidebar .tab-content li:not(:last-child) {
 margin-bottom:15px
}
.ports .sidebar .tab-content li.active {
 color:#3A0628;
 font-weight:700;
 border-left:5px solid #3A0628
}
@media (max-width: 991.98px) {
 .ports .sidebar .tab-content li {
  font-size:14px
 }
}
.ports .sidebar::after {
 content:'';
 position:absolute;
 top:60px;
 right:0;
 width:1px;
 height:150%;
 background-color:#d8d8d8;
 z-index:-1
}
@media (max-width: 991.98px) {
 .ports .sidebar::after {
  height:100%;
  width:150%;
  right:50%;
  transform:translateX(50%);
  display:none
 }
}
.ports .content {
 flex:0 0 70%;
 padding-left:50px;
 padding-top:100px
}
@media (max-width: 991.98px) {
 .ports .content {
  padding-left:0;
  padding-top:25px;
  flex:0
 }
}
.ports .heading {
 display:flex;
 align-items:flex-start;
 justify-content:space-between;
 margin-bottom:35px
}
.ports .heading .title {
 padding-right:45px
}
@media (max-width: 991.98px) {
 .ports .heading .title {
  width:100%;
  padding-right:0
 }
}
.ports .heading .title div {
 display:flex;
 align-items:flex-start;
 justify-content:flex-start
}
@media (max-width: 991.98px) {
 .ports .heading .title div {
  justify-content:space-between
 }
}
.ports .heading h1 {
 margin-bottom:5px;
 width:auto
}
.ports .heading a {
 text-decoration:underline
}
.ports .progress {
 margin-bottom:40px
}
.ports .steps {
 margin-bottom:20px;
 line-height:2;
}
.ports .features {
 font-family:'ubuntu-mono';
 display:flex;
 flex-wrap:wrap;
 justify-content:space-between;
 margin-bottom:25px;
 line-height:1.6
}
.ports .features>div:not(:last-child) {
 padding-right:25px
}
.ports .features ul {
 margin-bottom:15px
}
.ports .specifications {
 margin-bottom:25px
}
.ports .features {
 display: block;
 column-count: 3;
 column-gap: 2em
}
@media (max-width: 991.98px) {
 .ports .features {
  column-count: 2;
 }
}
@media (max-width: 575.98px) {
 .ports .features {
  column-count: 1;
  padding-left: 20px;
 }
}
.ports .specifications .table {
 font-family:'ubuntu-mono';
 width:auto;
 margin-bottom:0;
 color:black
}
@media (max-width: 991.98px) {
 .ports .specifications .table {
  width:100%
 }
}
.ports .specifications .table-striped tbody tr:nth-of-type(odd) {
 background-color:#ededed
}
.ports .specifications .table-striped tbody tr:nth-of-type(even) {
 background-color:#ededed85
}
.ports .specifications .table td,
.ports .specifications .table th {
 padding:1px 80px 1px 15px;
 border-top:5px solid white;
 white-space:nowrap
}
@media (max-width: 991.98px) {
 .ports .specifications .table td,
 .ports .specifications .table th {
  padding:1px 15px
 }
}
.ports .bugs {
 margin-bottom:25px
}
.ports .solutions {
 margin-bottom:50px
}
.ports .ports-banner {
 position:relative;
 padding:25px 0
}
.ports .ports-banner::after {
 content:'';
 position:absolute;
 top:0;
 left:-50px;
 height:100%;
 width:200%;
 background-color:#f3f3f3;
 z-index:-1
}
@media (max-width: 991.98px) {
 .ports .ports-banner::after {
  left:50%;
  transform:translateX(-50%)
 }
}
.ports .installer {
 margin-bottom:10px
}
.ports .installer h2 {
 margin-bottom:25px
}
.ports .installer .btns {
 margin-bottom:30px;
 display:grid;
 grid-template-columns:repeat(3, 1fr);
 column-gap:50px;
 row-gap: 20px
}
@media (max-width: 1299.98px) {
 .ports .installer .btns {
  column-gap:10px
 }
}
@media (max-width: 1199.98px) {
 .ports .installer .btns {
  grid-template-columns:1fr;
  row-gap:15px
 }
}
.ports .installer p:not(:last-child) {
 margin-bottom:10px
}
.ports .no-installer {
 margin-bottom:60px
}
@media (max-width: 991.98px) {
 .ports .no-installer {
  margin-bottom:30px
 }
}
.ports .contributes-discussions {
 display:grid;
 grid-template-columns:6fr 4fr;
 column-gap:30px
}
.ports .contributes-discussions .h3 {
 margin-bottom:25px
}
@media (max-width: 991.98px) {
 .ports .contributes-discussions {
  display:flex;
  flex-direction:column-reverse
 }
}
.ports .contributes ul {
 display:grid;
 grid-template-columns:repeat(2, 1fr);
 column-gap:8px;
 row-gap:15px
}
.ports .contributes a {
 display:flex;
 align-items:center;
 justify-content:flex-start;
 background-color:#f3f3f3
}
.ports .contributes img {
 width:50px
}
.ports .contributes p {
 margin-left:20px
}
@media (max-width: 1199.98px) {
 .ports .contributes p {
  margin-left:10px
 }
}
@media (max-width: 575.98px) {
 .ports .contributes p {
  font-size:12px
 }
}
.ports .discussions ul {
 padding-left:15px
}
.ports .discussions li {
 margin-bottom:10px
}
.ports .discussions a {
 display:flex;
 align-items:center;
 justify-content:flex-start
}
.ports .discussions img {
 margin-right:12px
}
@media (max-width: 991.98px) {
 .ports .discussions {
  margin-bottom:30px
 }
}

/* Kaizen Fix */
.ports .installer-video {
 position:relative;
 top:0;
 left:-50px;
 margin-top: 30px;
 padding: 60px 0px 60px 60px;
 color: white;
}

.ports .installer-video a {
 text-decoration: underline;
}

.ports .installer-video::after {
 content:'';
 position:absolute;
 top:0;
 left:0;
 height:100%;
 width:200%;
 background-image:url("/img/ports/devices_helpflash.svg"),
  linear-gradient(268.44deg, #E95420 -13.61%, #8B3583 83.98%);
 z-index:-1;
 background-repeat: no-repeat;
 background-position: 60%;
}

@media (max-width: 991.98px) {
 .ports .installer-video::after {
  left:50%;
  background-position: 80%;
  transform:translateX(-50%);
 }
}

@media (max-width: 767.98px) {
 .ports .installer-video::after {
  background-position: 110%;
 }
}
@media (max-width: 512px) {
 .ports .installer-video::after {
  background: linear-gradient(268.44deg, #E95420 -13.61%, #8B3583 83.98%);
 }
}
/* Kaizen Fix */

.ports .built-with {
 background-color:#f3f3f3;
 border-radius:20px;
 position:relative;
 padding:60px 100px 60px 40px;
 overflow:hidden
}
.ports .built-with img {
 position:absolute;
 bottom:0;
 right:0;
 width:30%
}
@media (max-width: 991.98px) {
 .ports .built-with img {
  width:auto;
  height:80%
 }
}
.ports .built-with h3 {
 margin-bottom:10px
}
@media (max-width: 1299.98px) {
 .ports .built-with {
  padding:60px 60px 60px 40px
 }
}
@media (max-width: 1199.98px) {
 .ports .built-with {
  padding:40px 40px 40px 30px
 }
}
@media (max-width: 991.98px) {
 .ports .built-with {
  margin-top:35px;
  padding:60px 80px 60px 40px
 }
}
@media (max-width: 370px) {
 .ports .built-with {
  padding:40px 60px 40px 20px
 }
}
.ports .choose-device {
 display:flex;
 flex-direction:column;
 height:100%;
 align-items:center;
 justify-content:center;
 margin:50px 0
}
