<template>
  <Layout>

    <div class="card">
      <div class="card-header"><h1>Error 404</h1></div>
      <div class="card-body">

        <p>Sorry, we're not sure what you're looking for... But look, here's a cool video!</p>

        <div class="row">
          <div class="col-md-12">
            <div class="aspect-ratio">
              <iframe width="854" height="480" src="https://www.youtube.com/embed/1sPtRdZlEu4" frameborder="0" allowfullscreen />
            </div>
          </div>
        </div>

      </div>
    </div>

  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: "Error 404",
  },
};
</script>
