<template>
  <Layout>
  <div>

  <!-- Breadcrumbs -->
  <div class="breadcrumbs">
    <div class="container">
      <a href="#">Home</a>
      <img class="angle-icon r-270" src="/img/icons/angle-icon.svg" alt="angle-icon">
      <a href="#">Community</a>
    </div>
  </div>

  <!-- Hero -->
  <div id="overview" class="page-hero">
    <picture>
      <source media="(min-width:768px)" srcset="/img/page/hero.jpg">
      <img src="/img/page/hero-mobile.jpg" alt="hero-img">
    </picture>
  </div>

  <!-- Page Content -->
  <div class="page-content page-content--sidebar">
    <div class="container">
      <!-- Content -->
      <div class="content">
        <h1 class="h2">
          Welcome to the UBports Community
       </h1>
        <p>Here you going to have the your full toolbox to engage with our community, channels, ethics, code of conduct, and many more. This page is constantly update, visit ofter.</p>
        <p>Firstly, we strongly recommend that you a registered a user name for your Telegram account. This will help you be able to chat with people privately and be invited to special focus groups and generally improve your experience in the community. </p>
        <p>These settings can be found in your main Telegram > settings. You have  been invited to this page by a member of the UBports welcoming team, lightly nicknamed the UBports First Responders. </p>
        <br/>

        <h3 class="h3">Telegram is our main communication channel</h3>

        <p><strong>Direct Message (DM)?</strong> If this is too much, you are also welcome to simply send a Private Message (PM) to the person who sent you this link and they may be able to help you one on one if they are available. UBports is a great community of users and developers. Please let us know if you need further assistance and we will do what we can. Thanks! UBports First Responder Team (UBFR)</p>

        <p> <strong>General groups</strong> (telegram) Most of our  communication stream happening on telegram on private or public groups, down below you'll fine all *known* channels. If new channel is opened by you or someone you know, please let us know, so we be able to document and channel volunteers to that group.</p>

        <p><strong>Newcomers Room</strong> - On top of the above starting points, we also invite you to join our "Newcomers Room' where all of the friendly UBports Welcoming Team are ready to help. You can exit this room at any point. You might have a few questions that you want to ask but don't want to speak in front of so many people. That's exactly what the newcomers room is for. As soon as you are rolling, just exit the room. To join the room all you have to do is click this invite link on Telegram.</p>




<!--
        <div class="d-flex align-items-start mb-4">
          <img src="/img/page/icon-1.svg" alt="icon" class="mr-4" style="width: 30px">
          <div>
            <h3 class="h4">Ubuntu Philosophy</h3>
            <p>Whatever your goals are, we're here to help you be successful, no matter your measure of success. Are you
              trying to learn a new skill or get better at something you already know how to do? Are you looking for
              something to add to your CV for volunteering and community engagement? Maybe you just really love the
              mobile platform and want to see it thrive. </p>
          </div>
        </div>
        <div class="d-flex align-items-start mb-4">
          <img src="/img/page/icon-2.svg" alt="icon" class="mr-4" style="width: 30px">
          <div>
            <h3 class="h4">Code of conduct</h3>
            <p>Whatever your goals are, we're here to help you be successful, no matter your measure of success. Are you
              trying to learn a new skill or get better at something you already know how to do? Are you looking for
              something to add to your CV for volunteering and community engagement? Maybe you just really love the
              mobile platform and want to see it thrive. </p>
          </div>
        </div>
        <div class="d-flex align-items-start mb-4">
          <img src="/img/page/icon-3.svg" alt="icon" class="mr-4" style="width: 30px">
          <div>
            <h3 class="h4">We are an Agile team</h3>
            <p>Whatever your goals are, we're here to help you be successful, no matter your measure of success. Are you
              trying to learn a new skill or get better at something you already know how to do? Are you looking for
              something to add to your CV for volunteering and community engagement? Maybe you just really love the
              mobile platform and want to see it thrive. </p>
          </div>
        </div>
        <div class="d-flex align-items-start">
          <img src="/img/page/icon-1.svg" alt="icon" class="mr-4" style="width: 30px">
          <div>
            <h3 class="h4">Recognition</h3>
            <p>Whatever your goals are, we're here to help you be successful, no matter your measure of success. Are you
              trying to learn a new skill or get better at something you already know how to do? Are you looking for
              something to add to your CV for volunteering and community engagement? Maybe you just really love the
              mobile platform and want to see it thrive. </p>
          </div>
        </div>

        -->

        <!-- Page Links -->
        <div class="page-links">
          <!-- Resources -->
          <div id="resources" class="page-resources">
            <!-- Resources -->
            <div>
              <h2 class="h3 light">Resources</h2>
              <ul>
                <li>
                  <a href="#">
                    <span class="arrow">⟶</span>
                    <span class="bold">Blog: </span>
                    Introduction to Clickable - Miguel Menéndez Carrion
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="arrow">⟶</span>
                    <span class="bold">Blog: </span>Ubuntu Touch safety architecture
                  </a>
                </li>
              </ul>
            </div>
            <!-- Media -->
            <div>
              <h2 class="h3 light">Media</h2>
              <ul>
                <li>
                  <a href="#">
                    <span class="arrow">⟶</span>
                    <span class="bold">Audiocast: </span>Florian Interview Episode #57
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="arrow">⟶</span>
                    <span class="bold">Audiocast: </span>Dalton Interview Episode #56
                  </a>
                </li>
              </ul>
            </div>
            <!-- Go to Person -->
            <div>
              <h2 class="h3 light">Go to Person</h2>
              <ul>
                <li>
                  <a href="#">
                    <span class="arrow">⟶</span>
                    <span class="bold">Dalton</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="arrow">⟶</span>
                    <span class="bold">Florian</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="arrow">⟶</span>
                    <span class="bold">Joan</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="arrow">⟶</span>
                    <span class="bold">Youtube: </span>Joan Ubucon Europ 19
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Discussions -->
          <div id="discussions" class="page-discussions">
            <h2 class="h3 light">Discussions</h2>
            <!-- Group -->
            <ul>
              <li>
                <a href="#">
                  <img src="/img/icons/yumi.svg" alt="yumi-icon" class="social-media-icon">
                  Forum OS Selection
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/img/icons/yumi.svg" alt="yumi-icon" class="social-media-icon">
                  Forum Porting
                </a>
              </li>
            </ul>
            <!-- Group -->
            <ul>
              <li>
                <a href="#">
                  <img src="/img/icons/telegram.svg" alt="telegram-icon" class="social-media-icon">
                  Porting
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/img/icons/telegram.svg" alt="telegram-icon" class="social-media-icon">
                  Lomiri Dev
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/img/icons/telegram.svg" alt="telegram-icon" class="social-media-icon">
                  Core Dev
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/img/icons/telegram.svg" alt="telegram-icon" class="social-media-icon">
                  Halium Project
                </a>
              </li>
            </ul>
            <!-- Group -->
            <ul>
              <li>
                <a href="#">
                  <img src="/img/icons/irc.svg" alt="irc-icon" class="social-media-icon">
                  Ubports Core
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/img/icons/irc.svg" alt="irc-icon" class="social-media-icon">
                  Ubports Core Apps
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Sidebar -->
      <div class="sidebar">
        <a class="sidebar-toggler h3 light d-lg-none" data-toggle="collapse" href="#sidebarCollapse" role="button"
          aria-expanded="false" aria-controls="sidebarCollapse">
          Jump Section <img src="/img/icons/angle-icon-gradient.svg" alt="angle-icon" class="angle-icon-gradient">
        </a>
        <div id="sidebarCollapse" class="collapse">
          <!-- Banner -->
          <div class="sidebar-banner">
            <p class="bold">Community Center can help to decide where you can contribute in our community</p>
            <a class="btn btn-secondary btn-block rounded-0" href="/community-center/">Go To Community Center!</a>
          </div>
          <!-- Navigation -->
          <div class="sidebar-navigation">
            <h3 class="h3 light">Navigation</h3>
            <ul id="sidebarNavigation">
              <li>
                <a class="list-group-item" href="#overview">Communication</a>
              </li>
              <li>
                <a class="list-group-item" href="#culture">Groups</a>
              </li>
              <li>
                <a class="list-group-item" href="#resources">Resources</a>
              </li>
              <li>
                <a class="list-group-item" href="#discussions">Discussions</a>
              </li>
              <li>
                <a class="list-group-item" href="#faqs">FAQ</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- FAQ's -->
  <div id="faqs" class="page-faq">
    <div class="container">
      <h2 class="h2">Take a second to read common answers</h2>
      <!-- Questions -->
      <div class="questions">
        <ul id="pageFaqs">
          <!-- Question -->
          <li>
            <!-- Toggler -->
            <a data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">
              Where do I report Ubuntu Touch bugs?
              <img class="angle-icon" src="/img/icons/angle-icon.svg" alt="angle-icon">
            </a>
            <!-- Collapse -->
            <div id="collapse1" class="collapse" data-parent="#pageFaqs">
              <p>Whatever your goals are, we're here to help you be successful, no matter your measure of success. Are
                you trying to learn a new skill or get better at something you already know how to do? Are you looking
                for something to add to your CV for volunteering and community engagement? Maybe you just really love
                the mobile platform and want to see it thrive. </p>
            </div>
          </li>
          <!-- Question -->
          <li>
            <!-- Toggler -->
            <a data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse2">
              How can I use an SD card for extra storage?
              <img class="angle-icon" src="/img/icons/angle-icon.svg" alt="angle-icon">
            </a>
            <!-- Collapse -->
            <div id="collapse2" class="collapse" data-parent="#pageFaqs">
              <p>Whatever your goals are, we're here to help you be successful, no matter your measure of success. Are
                you trying to learn a new skill or get better at something you already know how to do? Are you looking
                for something to add to your CV for volunteering and community engagement? Maybe you just really love
                the mobile platform and want to see it thrive. </p>
            </div>
          </li>
          <!-- Question -->
          <li>
            <!-- Toggler -->
            <a data-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapse3">
              Where do I report Ubuntu Touch bugs?
              <img class="angle-icon" src="/img/icons/angle-icon.svg" alt="angle-icon">
            </a>
            <!-- Collapse -->
            <div id="collapse3" class="collapse" data-parent="#pageFaqs">
              <p>Whatever your goals are, we're here to help you be successful, no matter your measure of success. Are
                you trying to learn a new skill or get better at something you already know how to do? Are you looking
                for something to add to your CV for volunteering and community engagement? Maybe you just really love
                the mobile platform and want to see it thrive. </p>
            </div>
          </li>
          <!-- Question -->
          <li>
            <!-- Toggler -->
            <a data-toggle="collapse" href="#collapse4" role="button" aria-expanded="false" aria-controls="collapse4">
              Where can I get information on the "core packages"?
              <img class="angle-icon" src="/img/icons/angle-icon.svg" alt="angle-icon">
            </a>
            <!-- Collapse -->
            <div id="collapse4" class="collapse" data-parent="#pageFaqs">
              <p>Whatever your goals are, we're here to help you be successful, no matter your measure of success. Are
                you trying to learn a new skill or get better at something you already know how to do? Are you looking
                for something to add to your CV for volunteering and community engagement? Maybe you just really love
                the mobile platform and want to see it thrive. </p>
            </div>
          </li>
          <!-- Question -->
          <li>
            <!-- Toggler -->
            <a data-toggle="collapse" href="#collapse5" role="button" aria-expanded="false" aria-controls="collapse5">
              What is Ubuntu for Android and how does it work woth Ubuntu Touch?
              <img class="angle-icon" src="/img/icons/angle-icon.svg" alt="angle-icon">
            </a>
            <!-- Collapse -->
            <div id="collapse5" class="collapse" data-parent="#pageFaqs">
              <p>Whatever your goals are, we're here to help you be successful, no matter your measure of success. Are
                you trying to learn a new skill or get better at something you already know how to do? Are you looking
                for something to add to your CV for volunteering and community engagement? Maybe you just really love
                the mobile platform and want to see it thrive. </p>
            </div>
          </li>
          <!-- Question -->
          <li>
            <!-- Toggler -->
            <a data-toggle="collapse" href="#collapse6" role="button" aria-expanded="false" aria-controls="collapse6">
              Where do I report Ubuntu Touch bugs?
              <img class="angle-icon" src="/img/icons/angle-icon.svg" alt="angle-icon">
            </a>
            <!-- Collapse -->
            <div id="collapse6" class="collapse" data-parent="#pageFaqs">
              <p>Whatever your goals are, we're here to help you be successful, no matter your measure of success. Are
                you trying to learn a new skill or get better at something you already know how to do? Are you looking
                for something to add to your CV for volunteering and community engagement? Maybe you just really love
                the mobile platform and want to see it thrive. </p>
            </div>
          </li>
          <!-- Question -->
          <li>
            <!-- Toggler -->
            <a data-toggle="collapse" href="#collapse7" role="button" aria-expanded="false" aria-controls="collapse7">
              Where do I report Ubuntu Touch bugs?
              <img class="angle-icon" src="/img/icons/angle-icon.svg" alt="angle-icon">
            </a>
            <!-- Collapse -->
            <div id="collapse7" class="collapse" data-parent="#pageFaqs">
              <p>Whatever your goals are, we're here to help you be successful, no matter your measure of success. Are
                you trying to learn a new skill or get better at something you already know how to do? Are you looking
                for something to add to your CV for volunteering and community engagement? Maybe you just really love
                the mobile platform and want to see it thrive. </p>
            </div>
          </li>
        </ul>
        <p><span class="bold">Have question?</span> Email Joe.</p>
      </div>
    </div>
  </div>

  </div>
  </Layout>
</template>
