<template>
  <Layout>
  <div>

  <!-- Breadcrumbs -->
  <div class="breadcrumbs breadcrumbs--bordered">
    <div class="container">
      <a href="#">Home</a>
      <img class="angle-icon r-270" src="/img/icons/angle-icon.svg" alt="angle-icon">
      <a href="/community/">Community</a>
      <img class="angle-icon r-270" src="/img/icons/angle-icon.svg" alt="angle-icon">
      <a href="/community-center/">Community Center</a>
      <img class="angle-icon r-270" src="/img/icons/angle-icon.svg" alt="angle-icon">
      <a href="/development/">Development</a>
    </div>
  </div>








  <!-- Page Content -->
  <div class="page-content page-content--sidebar">
    <div class="container">
      <!-- Content -->
      <div class="content">
        <h1 class="h2">
          Welcome to Ubuntu Touch OS development in the <span class="underline">nutshell</span>
       </h1>
       <p>
          Building UT is requiring lots of skills set, you can help where you fill the strongest ...
       </p>


       Our goal is to make Ubuntu Touch available for as many devices as possible.
       <ul>
           <li>Building a flawlessly working Operating System</li>
           <li>Porting Ubuntu Touch for as many devices as possible</li>
           <li>Creating stable and usable Linux kernels, Android hals and libhybris layer</li>
           <li>Building and creating a development environment</li>
           <li>Building exciting and new Open Source technology</li>
       </ul>

           <h2 class="h3">Overview</h2>
            <img class="layers" src="/img/development/layers.svg" alt="angle-icon">
          <h2 class="h3">Projects</h2>

        <div class="row">
        <div class="boxed">
          <h2 class="h4">Lomiri Project</h2>
          <p>Whatever your goals are, we're heryou trying to learn a new skill or get better at something you already know how to do? Are you looking for something to add to your CV for volunteering and community engagement? Maybe you just really love the mobile platform and want to see it thrive. </p>
          <span>[<a href="#">Git</a>] | [<a href="#">Docs</a>]</span>
       </div>

       <div class="boxed">
         <h2 class="h4">Core Development</h2>
         <p>Whatever your goals  salfmslkf sldfk lkj afjasd;l gvnasldgvnasldgvnasldgvnasld gjnasdlkfgas ;lfdjjslkjaldmalmd almdlamd.ams.,m, we're here to helyoe you trying to learn a new skill or get better at something you already know how to do? Are you looking for something to add to your CV for volunteering and community engagement? Maybe you just really love the mobile platform and want to see it thrive. </p>
         [<a href="">Git</a>] | [<a href="">Git</a>]
      </div>

      <div class="boxed">
         <h2 class="h4">Core Apps</h2>
         <p> your measure of success. Are you trying to learn a new skill or get better at something you already know how to do? Are you looking for something to add to your CV for volunteering and community engagement? Maybe you just really love the mobile platform and want to see it thrive. </p>
         <p> your measure of success. Are you trying to learn a new skill or get better at something you already know how to do? Are you looking for something to add to your CV for volunteering and community engagement? Maybe you just really love the mobile platform and want to see it thrive. </p>
         <p> your measure of success. Are you trying to learn a new skill or get better at something you already know how to do? Are you looking for something to add to your CV for volunteering and community engagement? Maybe you just really love the mobile platform and want to see it thrive. </p>
         [Git] | [Docs]
      </div>


      <div class="boxed">
         <h2 class="h4">Halium Project</h2>
         <p>Whatever y Are you trying to learn a new skill or get better at something you already know how to do? Are you looking for something to add to your CV for volunteering and community engagement? Maybe you just really love the mobile platform and want to see it thrive. </p>
         [Git] | [Docs]
     </div>

     <div class="boxed">
       <h2 class="h4">Clickable-ut.dv</h2>
       <p>Whatever your goals are, we're here to help you be successful, no matter your measure of success. Are you trying to learn a new skill or get better at something you already know how to do? Are you looking for something to add to your CV for volunteering and community engagement? Maybe you just really love the mobile platform and want to see it thrive. </p>
       [Git] | [Docs]
     </div>

     </div>


        <!-- Page Links -->
        <div class="page-links">
          <!-- Resources -->
          <div id="resources" class="page-resources">
            <!-- Resources -->
            <div>
              <h2 class="h3 light">Resources</h2>
              <ul>
                <li>
                  <a href="#">
                    <span class="arrow">⟶</span>
                    <span class="bold">Blog: </span>
                    Introduction to Clickable - Miguel Menéndez Carrion
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="arrow">⟶</span>
                    <span class="bold">Blog: </span>Ubuntu Touch safety architecture
                  </a>
                </li>
              </ul>
            </div>
            <!-- Media -->
            <div>
              <h2 class="h3 light">Media</h2>
              <ul>
                <li>
                  <a href="#">
                    <span class="arrow">⟶</span>
                    <span class="bold">Audiocast: </span>Florian Interview Episode #57
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="arrow">⟶</span>
                    <span class="bold">Audiocast: </span>Dalton Interview Episode #56
                  </a>
                </li>
              </ul>
            </div>
            <!-- Go to Person -->
            <div>
              <h2 class="h3 light">Go to Person</h2>
              <ul>
                <li>
                  <a href="#">
                    <span class="arrow">⟶</span>
                    <span class="bold">Dalton</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="arrow">⟶</span>
                    <span class="bold">Florian</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="arrow">⟶</span>
                    <span class="bold">Joan</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="arrow">⟶</span>
                    <span class="bold">Youtube: </span>Joan Ubucon Europ 19
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Discussions -->
          <div id="discussions" class="page-discussions">
            <h2 class="h3 light">Discussions</h2>
            <!-- Group -->
            <ul>
              <li>
                <a href="#">
                  <img src="/img/icons/yumi.svg" alt="yumi-icon" class="social-media-icon">
                  Forum OS Selection
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/img/icons/yumi.svg" alt="yumi-icon" class="social-media-icon">
                  Forum Porting
                </a>
              </li>
            </ul>
            <!-- Group -->
            <ul>
              <li>
                <a href="#">
                  <img src="/img/icons/telegram.svg" alt="telegram-icon" class="social-media-icon">
                  Porting
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/img/icons/telegram.svg" alt="telegram-icon" class="social-media-icon">
                  Lomiri Dev
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/img/icons/telegram.svg" alt="telegram-icon" class="social-media-icon">
                  Core Dev
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/img/icons/telegram.svg" alt="telegram-icon" class="social-media-icon">
                  Halium Project
                </a>
              </li>
            </ul>
            <!-- Group -->
            <ul>
              <li>
                <a href="#">
                  <img src="/img/icons/irc.svg" alt="irc-icon" class="social-media-icon">
                  Ubports Core
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/img/icons/irc.svg" alt="irc-icon" class="social-media-icon">
                  Ubports Core Apps
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Sidebar -->
      <div class="sidebar">
        <a class="sidebar-toggler h3 light d-lg-none" data-toggle="collapse" href="#sidebarCollapse" role="button"
          aria-expanded="false" aria-controls="sidebarCollapse">
          Jump Section <img src="/img/icons/angle-icon-gradient.svg" alt="angle-icon" class="angle-icon-gradient">
        </a>
        <div id="sidebarCollapse" class="collapse">
          <!-- Banner -->

          <div class="sidebar-banner">
            <p class="bold">Hub Center Can help to decide where you belong in our community</p>
            <button class="btn btn-secondary btn-block rounded-0">Go To Community Center!</button>
          </div>
          <!-- Navigation -->
          <div class="sidebar-navigation">
            <h3 class="h3 light">Navigation</h3>
            <ul id="sidebarNavigation">
              <li>
                <a class="list-group-item" href="#overview">Welcome</a>
              </li>
              <li>
                <a class="list-group-item" href="#culture">Projects</a>
              </li>
              <li>
                <a class="list-group-item" href="#resources">Code of Conduct</a>
              </li>
              <li>
                <a class="list-group-item" href="#discussions">Discussions</a>
              </li>
              <li>
                <a class="list-group-item" href="#faqs">FAQ</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- FAQ's -->
  <div id="faqs" class="page-faq">
    <div class="container">
      <h2 class="h2">Take a second to read common answers</h2>
      <!-- Questions -->
      <div class="questions">
        <ul id="pageFaqs">
          <!-- Question -->
          <li>
            <!-- Toggler -->
            <a data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">
              Where do I report Ubuntu Touch bugs?
              <img class="angle-icon" src="/img/icons/angle-icon.svg" alt="angle-icon">
            </a>
            <!-- Collapse -->
            <div id="collapse1" class="collapse" data-parent="#pageFaqs">
              <p>Whatever your goals are, we're here to help you be successful, no matter your measure of success. Are
                you trying to learn a new skill or get better at something you already know how to do? Are you looking
                for something to add to your CV for volunteering and community engagement? Maybe you just really love
                the mobile platform and want to see it thrive. </p>
            </div>
          </li>
          <!-- Question -->
          <li>
            <!-- Toggler -->
            <a data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse2">
              How can I use an SD card for extra storage?
              <img class="angle-icon" src="/img/icons/angle-icon.svg" alt="angle-icon">
            </a>
            <!-- Collapse -->
            <div id="collapse2" class="collapse" data-parent="#pageFaqs">
              <p>Whatever your goals are, we're here to help you be successful, no matter your measure of success. Are
                you trying to learn a new skill or get better at something you already know how to do? Are you looking
                for something to add to your CV for volunteering and community engagement? Maybe you just really love
                the mobile platform and want to see it thrive. </p>
            </div>
          </li>
          <!-- Question -->
          <li>
            <!-- Toggler -->
            <a data-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapse3">
              Where do I report Ubuntu Touch bugs?
              <img class="angle-icon" src="/img/icons/angle-icon.svg" alt="angle-icon">
            </a>
            <!-- Collapse -->
            <div id="collapse3" class="collapse" data-parent="#pageFaqs">
              <p>Whatever your goals are, we're here to help you be successful, no matter your measure of success. Are
                you trying to learn a new skill or get better at something you already know how to do? Are you looking
                for something to add to your CV for volunteering and community engagement? Maybe you just really love
                the mobile platform and want to see it thrive. </p>
            </div>
          </li>
          <!-- Question -->
          <li>
            <!-- Toggler -->
            <a data-toggle="collapse" href="#collapse4" role="button" aria-expanded="false" aria-controls="collapse4">
              Where can I get information on the "core packages"?
              <img class="angle-icon" src="/img/icons/angle-icon.svg" alt="angle-icon">
            </a>
            <!-- Collapse -->
            <div id="collapse4" class="collapse" data-parent="#pageFaqs">
              <p>Whatever your goals are, we're here to help you be successful, no matter your measure of success. Are
                you trying to learn a new skill or get better at something you already know how to do? Are you looking
                for something to add to your CV for volunteering and community engagement? Maybe you just really love
                the mobile platform and want to see it thrive. </p>
            </div>
          </li>
          <!-- Question -->
          <li>
            <!-- Toggler -->
            <a data-toggle="collapse" href="#collapse5" role="button" aria-expanded="false" aria-controls="collapse5">
              What is Ubuntu for Android and how does it work woth Ubuntu Touch?
              <img class="angle-icon" src="/img/icons/angle-icon.svg" alt="angle-icon">
            </a>
            <!-- Collapse -->
            <div id="collapse5" class="collapse" data-parent="#pageFaqs">
              <p>Whatever your goals are, we're here to help you be successful, no matter your measure of success. Are
                you trying to learn a new skill or get better at something you already know how to do? Are you looking
                for something to add to your CV for volunteering and community engagement? Maybe you just really love
                the mobile platform and want to see it thrive. </p>
            </div>
          </li>
          <!-- Question -->
          <li>
            <!-- Toggler -->
            <a data-toggle="collapse" href="#collapse6" role="button" aria-expanded="false" aria-controls="collapse6">
              Where do I report Ubuntu Touch bugs?
              <img class="angle-icon" src="/img/icons/angle-icon.svg" alt="angle-icon">
            </a>
            <!-- Collapse -->
            <div id="collapse6" class="collapse" data-parent="#pageFaqs">
              <p>Whatever your goals are, we're here to help you be successful, no matter your measure of success. Are
                you trying to learn a new skill or get better at something you already know how to do? Are you looking
                for something to add to your CV for volunteering and community engagement? Maybe you just really love
                the mobile platform and want to see it thrive. </p>
            </div>
          </li>
          <!-- Question -->
          <li>
            <!-- Toggler -->
            <a data-toggle="collapse" href="#collapse7" role="button" aria-expanded="false" aria-controls="collapse7">
              Where do I report Ubuntu Touch bugs?
              <img class="angle-icon" src="/img/icons/angle-icon.svg" alt="angle-icon">
            </a>
            <!-- Collapse -->
            <div id="collapse7" class="collapse" data-parent="#pageFaqs">
              <p>Whatever your goals are, we're here to help you be successful, no matter your measure of success. Are
                you trying to learn a new skill or get better at something you already know how to do? Are you looking
                for something to add to your CV for volunteering and community engagement? Maybe you just really love
                the mobile platform and want to see it thrive. </p>
            </div>
          </li>
        </ul>
        <p><span class="bold">Have question?</span> Email Joe.</p>
      </div>
    </div>
  </div>

  </div>
  </Layout>
</template>
