<template>
  <DevicesLayout>
      <div class="content">
        <!-- Choose Device -->
        <div class="choose-device" @click="toggleChoose">
          <img src="/img/ports/choose-device.jpg" alt="choose-device-img">
          <h2 class="h3">Choose device</h2>
          <p>See map progress</p>
        </div>
      </div>
  </DevicesLayout>
</template>

<script>
export default {
  methods: {
    toggleChoose() {
      this.$parent.$root.$emit("toggle-device-choose");
    },
  },
};
</script>
