<template>
  <Layout>

  <!-- Hero -->

  <div id="featuresHero" class="home-hero features">
    <!-- Text -->
    <div class="container">
      <div class="features-hero__text">
        <p data-aos="fade-up" data-aos-delay="300" data-aos-anchor="#homeHero">UBports Present:</p>
        <h1 class="h2" data-aos="fade-up" data-aos-delay="150" data-aos-anchor="#homeHero">Ubuntu Touch OTA13</h1>
        <div data-aos="fade-up" data-aos-delay="450" data-aos-anchor="#homeHero">
        </div>
      </div>
      <div class="features-hero__img">
        <img data-aos="fade-left" data-aos-anchor="#featuresMedia2" data-aos-delay="300" src="/img/features/phone.png" alt="hero-img">
      </div>
    </div>
  </div>

  <!-- What's new? -->

  <div class="features-new">
    <div class="container">
      <div class="intro">
        <h2 class="h2" data-aos="fade-up" data-aos-delay="150" data-aos-anchor="">What have been upgraded?</h2>
        <p data-aos="fade-left" data-aos-anchor="#features-new" data-aos-delay="300">In this update we have been focusing on merging work left unmerged during the OTA-12 cycle. </p>
        <button class="btn btn-primary">Read more ..</button>
      </div>
      <ul class="list">
        <li><img src="/img/features/check.png" class="check"><p>ARM64</p></li>
        <li><img src="/img/features/check.png" class="check"><p>Halium (Android compatibility layer) 5/7</p></li>
        <li><img src="/img/features/check.png" class="check"><p>Halium 8+ (Android compatibility layer)</p></li>
      </ul>
    </div>
  </div>

  <!-- Friends and family -->

  <div class="features-community">
  </div>

  <!-- Media -->

  <div id="featureMedia1" class="features-media">
    <div class="container">
      <!-- Text -->
      <div class="features-media__text">
        <h2 class="h3" data-aos="fade-right" data-aos-anchor="#featureMedia1">Lomiri, An upgraded Experience</h2>
        <p data-aos="fade-right" data-aos-anchor="#featureMedia1" data-aos-delay="300">Developed as an open source project, Ubuntu Touch contains no hidden nuts and bolts.</p>
      
      </div>
      <!-- Img -->
      <div class="features-media__img">
        <picture>
        <source media="(min-width:992px)" srcset="/img/features/cover.png">
        <img src="/img/features/cover.png" alt="media-img">
        </picture>
      </div>
    </div>
  </div>


  <!-- Media -->

  <div id="featureMedia2" class="features-media home-media--alt">
    <div class="container">
      <!-- Text -->
      <div class="features-media__text">
        <h2 class="h3" data-aos="fade-left" data-aos-anchor="#homeMedia2">Community Comit Together.</h2>
        <p data-aos="fade-left" data-aos-anchor="#featuresMedia2" data-aos-delay="300">Rather than being developed by one of the richest companies in the world, Ubuntu touch is fully developed by
          the community of users.</p>
      </div>
      <!-- Img -->
      <div class="features-media__img">
        <picture>
          <source media="(min-width:992px)" srcset="/img/features/lomiri.png">
          <img src="/img/features/lomiri.png" alt="media-img">
        </picture>
      </div>
    </div>
  </div>


  <!-- Media -->
  <div id="featureMedia3" class="features-media">
    <div class="container">
      <!-- Text -->
      <div class="features-media__text">
        <h2 class="h3" data-aos="fade-right" data-aos-anchor="#featureMedia1">Lomiri, An upgraded Experience</h2>
        <p data-aos="fade-right" data-aos-anchor="#featureMedia1" data-aos-delay="300">Developed as an open source project, Ubuntu Touch contains no hidden nuts and bolts.</p>
      </div>
      <!-- Img -->
      <div class="features-media__img">
        <picture>
        <source media="(min-width:992px)" srcset="/img/features/privacy.png">
        <img src="/img/features/privacy.png" alt="media-img">
        </picture>
      </div>
    </div>
  </div>


  <!-- Media -->
  <div id="featureMedia4" class="features-media home-media--alt">
    <div class="container">
      <!-- Text -->
      <div class="features-media__text">
        <h2 class="h3" data-aos="fade-left" data-aos-anchor="#homeMedia2">Community Comit Together.</h2>
        <p data-aos="fade-left" data-aos-anchor="#featuresMedia2" data-aos-delay="300">Rather than being developed by one of the richest companies in the world, Ubuntu touch is fully developed by
          the community of users.</p>
      </div>
      <!-- Img -->
      <div class="features-media__img">
        <picture>
          <source media="(min-width:992px)" srcset="/img/features/coreapps.png">
          <img src="/img/features/coreapps.png" alt="media-img">
        </picture>
      </div>
    </div>
  </div>

  </Layout>
</template>
