<template>
  <Layout>
  <div>
  <!-- Hero -->
  <div id="homeHero" class="home-hero">
    <div class="container">
      <!-- Text -->
      <div class="home-hero__text">
        <h1 class="h2" data-aos="fade-up" data-aos-delay="150" data-aos-anchor="#homeHero">We are building an ethical operating system for  smartphones.</h1>
        <p data-aos="fade-up" data-aos-delay="300" data-aos-anchor="#homeHero">With the Supported of The UBports community.</p>
        <div data-aos="fade-up" data-aos-delay="450" data-aos-anchor="#homeHero">
          <button class="btn btn-primary">Check Devices</button>
        </div>
        <div class="home-hero__visits" data-aos="fade-up" data-aos-delay="600" data-aos-anchor="#homeHero">
          <h3 class="h2">+350</h3>
          <h3 class="h4 light ml-4">Volunteers worldwide working together to achieve our mission.</h3>
        </div>
      </div>
      <!-- Img -->
      <div class="home-hero__img">
        <img src="/img/homepage/hero.jpg" alt="hero-img" title="Yumi is our community mascot">
      </div>
    </div>
  </div>

  <!-- Devices -->
  <div class="home-devices">
    <div class="container">
      <!-- Text -->
      <div class="home-devices__text">
        <h2 class="h3">Foundation Core Devices</h2>
      </div>
      <!-- Img -->
      <div class="home-devices__img">
        <!-- Device -->
        <a href="#" class="device">
          <p>PinePhone</p>
          <img src="/img/homepage/PinePhone.svg" alt="device-img">
        </a>
        <a href="#" class="device">
          <p>Fairphone</p>
          <img src="/img/homepage/Fairphone.svg" alt="device-img">
        </a>
        <a href="#" class="device">
          <p>Volla</p>
          <img src="/img/homepage/Volla.svg" alt="device-img">
        </a>
        <a href="#" class="device">
          <p>Nexus 5</p>
          <img src="/img/homepage/Nexus.svg" alt="device-img">
        </a>
        <a href="#" class="device">
          <p>OnePlus One</p>
          <img src="/img/homepage/OnePlusOne.svg" alt="device-img">
        </a>
      </div>
    </div>
  </div>

  <DevicesSlider/>


  <div id="homeMedia1" class="home-media">
    <div class="container">
      <!-- Text -->
      <div class="home-media__text">
        <h2 class="h1" data-aos="fade-right" data-aos-anchor="#homeMedia1">Fully Transparent OS</h2>
        <a href="#" class="link" data-aos="fade-right" data-aos-anchor="#homeMedia1" data-aos-delay="150">>> Check our repo</a>
        <p data-aos="fade-right" data-aos-anchor="#homeMedia1" data-aos-delay="300">Developed as an open source project, Ubuntu Touch contains no hidden nuts and bolts.</p>
        <p data-aos="fade-right" data-aos-anchor="#homeMedia1" data-aos-delay="450">Your data are kept exactly where you want it: on your device, and nowhere else unless you explicitly ask for
          it.</p>
      </div>
      <!-- Img -->
      <div class="home-media__img">
        <picture>
          <img src="img/homepage/media-1.jpg" alt="media-img">
        </picture>
      </div>
    </div>
  </div>


  <!-- Media -->
  <div id="homeMedia2" class="home-media home-media--alt">
    <div class="container">
      <!-- Text -->
      <div class="home-media__text">
        <h2 class="h1" data-aos="fade-left" data-aos-anchor="#homeMedia2">Community Comit Together.</h2>
        <a href="#" class="link" data-aos="fade-left" data-aos-anchor="#homeMedia2" data-aos-delay="150">>> Check community repo</a>
        <p data-aos="fade-left" data-aos-anchor="#homeMedia2" data-aos-delay="300">Rather than being developed by one of the richest companies in the world, Ubuntu touch is fully developed by
          the community of users.</p>
        <p data-aos="fade-left" data-aos-anchor="#homeMedia2" data-aos-delay="450">As a consequence the system is developed with the sole purpose of giving the best and most secure user
          experience possible, while traditional systems balance these concern against profit.</p>
      </div>
      <!-- Img -->
      <div class="home-media__img">
        <picture>
          <img src="/img/homepage/commit.png" alt="media-img">
        </picture>
      </div>
    </div>
  </div>

  <!-- Design -->
  <div class="home-design">
    <div class="container">
      <h2 class="h3">Designed to last.</h2>
      <p>Rather than being developed individually for each device, Ubuntu Touch runs the exact same operative system on
        all phones.</p>
      <p>This means that your phone will continue to receive software updates for years after traditional vendors would
        drop support.</p>
    </div>
  </div>

  <PostsSlider/>
  </div>
  </Layout>
</template>

<script>
import DevicesSlider from "~/components/DevicesSlider.vue";
import PostsSlider from "~/components/PostsSlider.vue";

import "aos/dist/aos.css";

import AOS from "aos";

export default {
  components: {
    DevicesSlider,
    PostsSlider,
  },
  created() {
    if (process.isClient) {
      AOS.init({
        duration: 700,
        easing: "ease",
        once: true,
        offset: 200,
        disable: window.innerWidth < 992,
      });
    }
  },
};
</script>
