<template>
  <Layout>
  <div>

  <!-- Breadcrumbs -->
  <div class="breadcrumbs breadcrumbs--bordered">
    <div class="container">
      <a href="#">Home</a>
      <img class="angle-icon r-270" src="/img/icons/angle-icon.svg" alt="angle-icon">
      <a href="/community/">Community</a>
      <img class="angle-icon r-270" src="/img/icons/angle-icon.svg" alt="angle-icon">
      <a href="/community-center/">Community Center</a>
      <img class="angle-icon r-270" src="/img/icons/angle-icon.svg" alt="angle-icon">
      <a href="/marketers/">Marketers</a>
    </div>
  </div>





  <!-- Page Content -->
  <div class="page-content page-content--sidebar">
    <div class="container">
      <!-- Content -->
      <div class="content">
        <h1 class="h2">
          Do you have what's it take to promote us?
       </h1>
       <p>
          It's doesn't matter if you are coming from Linux, Mac or Windows environment, proficient Adobe Suit or Inscape. What is the most important you will make the best our of you skills set in the following areas:
       </p>



          <h2 class="h3">Design for OS</h2>
          <p>It's doesn't matter if you are coming from Linux, Mac or Windows environment, proficient Adobe Suit or Inscape. What is the most important you will make the best our of you skills set in the following areas:</p>

          <h3 class="h4">Design UT Apps with QT</h3>
          <p>It's doesn't matter if you are coming from Linux, Mac or Windows environment, proficient Adobe Suit or Inscape. What is the most important you will make the best our of you skills set in the following areas:</p>

          <h2 class="h3">Design for Marketing</h2>
          <p>It's doesn't matter if you are coming from Linux, Mac or Windows environment, proficient Adobe Suit or Inscape. What is the most important you will make the best our of you skills set in the following areas:</p>
          <p>It's doesn't matter if you are coming from Linux, Mac or Windows environment, proficient Adobe Suit or Inscape. What is the most important you will make the best our of you skills set in the following areas:</p>



        <!-- Page Links -->
        <div class="page-links">
          <!-- Resources -->
          <div id="resources" class="page-resources">
            <!-- Resources -->
            <div>
              <h2 class="h3 light">Resources</h2>
              <ul>
                <li>
                  <a href="#">
                    <span class="arrow">⟶</span>
                    <span class="bold">Blog: </span>
                    Introduction to Clickable - Miguel Menéndez Carrion
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="arrow">⟶</span>
                    <span class="bold">Blog: </span>Ubuntu Touch safety architecture
                  </a>
                </li>
              </ul>
            </div>
            <!-- Media -->
            <div>
              <h2 class="h3 light">Media</h2>
              <ul>
                <li>
                  <a href="#">
                    <span class="arrow">⟶</span>
                    <span class="bold">Audiocast: </span>Florian Interview Episode #57
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="arrow">⟶</span>
                    <span class="bold">Audiocast: </span>Dalton Interview Episode #56
                  </a>
                </li>
              </ul>
            </div>
            <!-- Go to Person -->
            <div>
              <h2 class="h3 light">Go to Person</h2>
              <ul>
                <li>
                  <a href="#">
                    <span class="arrow">⟶</span>
                    <span class="bold">Dalton</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="arrow">⟶</span>
                    <span class="bold">Florian</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="arrow">⟶</span>
                    <span class="bold">Joan</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="arrow">⟶</span>
                    <span class="bold">Youtube: </span>Joan Ubucon Europ 19
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Discussions -->
          <div id="discussions" class="page-discussions">
            <h2 class="h3 light">Discussions</h2>
            <!-- Group -->
            <ul>
              <li>
                <a href="#">
                  <img src="/img/icons/yumi.svg" alt="yumi-icon" class="social-media-icon">
                  Forum OS Selection
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/img/icons/yumi.svg" alt="yumi-icon" class="social-media-icon">
                  Forum Porting
                </a>
              </li>
            </ul>
            <!-- Group -->
            <ul>
              <li>
                <a href="#">
                  <img src="/img/icons/telegram.svg" alt="telegram-icon" class="social-media-icon">
                  Porting
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/img/icons/telegram.svg" alt="telegram-icon" class="social-media-icon">
                  Lomiri Dev
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/img/icons/telegram.svg" alt="telegram-icon" class="social-media-icon">
                  Core Dev
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/img/icons/telegram.svg" alt="telegram-icon" class="social-media-icon">
                  Halium Project
                </a>
              </li>
            </ul>
            <!-- Group -->
            <ul>
              <li>
                <a href="#">
                  <img src="/img/icons/irc.svg" alt="irc-icon" class="social-media-icon">
                  Ubports Core
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/img/icons/irc.svg" alt="irc-icon" class="social-media-icon">
                  Ubports Core Apps
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Sidebar -->
      <div class="sidebar">
        <a class="sidebar-toggler h3 light d-lg-none" data-toggle="collapse" href="#sidebarCollapse" role="button"
          aria-expanded="false" aria-controls="sidebarCollapse">
          Jump Section <img src="/img/icons/angle-icon-gradient.svg" alt="angle-icon" class="angle-icon-gradient">
        </a>
        <div id="sidebarCollapse" class="collapse">
          <!-- Banner -->

          <div class="sidebar-banner">
            <p class="bold">Hub Center Can help to decide where you belong in our community</p>
            <button class="btn btn-secondary btn-block rounded-0">Go To Community Center!</button>
          </div>
          <!-- Navigation -->
          <div class="sidebar-navigation">
            <h3 class="h3 light">Navigation</h3>
            <ul id="sidebarNavigation">
              <li>
                <a class="list-group-item" href="#overview">Welcome</a>
              </li>
              <li>
                <a class="list-group-item" href="#culture">Projects</a>
              </li>
              <li>
                <a class="list-group-item" href="#resources">Code of Conduct</a>
              </li>
              <li>
                <a class="list-group-item" href="#discussions">Discussions</a>
              </li>
              <li>
                <a class="list-group-item" href="#faqs">FAQ</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- FAQ's -->
  <div id="faqs" class="page-faq">
    <div class="container">
      <h2 class="h2">Take a second to read common answers</h2>
      <!-- Questions -->
      <div class="questions">
        <ul id="pageFaqs">
          <!-- Question -->
          <li>
            <!-- Toggler -->
            <a data-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1">
              Where do I report Ubuntu Touch bugs?
              <img class="angle-icon" src="/img/icons/angle-icon.svg" alt="angle-icon">
            </a>
            <!-- Collapse -->
            <div id="collapse1" class="collapse" data-parent="#pageFaqs">
              <p>Whatever your goals are, we're here to help you be successful, no matter your measure of success. Are
                you trying to learn a new skill or get better at something you already know how to do? Are you looking
                for something to add to your CV for volunteering and community engagement? Maybe you just really love
                the mobile platform and want to see it thrive. </p>
            </div>
          </li>
          <!-- Question -->
          <li>
            <!-- Toggler -->
            <a data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse2">
              How can I use an SD card for extra storage?
              <img class="angle-icon" src="/img/icons/angle-icon.svg" alt="angle-icon">
            </a>
            <!-- Collapse -->
            <div id="collapse2" class="collapse" data-parent="#pageFaqs">
              <p>Whatever your goals are, we're here to help you be successful, no matter your measure of success. Are
                you trying to learn a new skill or get better at something you already know how to do? Are you looking
                for something to add to your CV for volunteering and community engagement? Maybe you just really love
                the mobile platform and want to see it thrive. </p>
            </div>
          </li>
          <!-- Question -->
          <li>
            <!-- Toggler -->
            <a data-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapse3">
              Where do I report Ubuntu Touch bugs?
              <img class="angle-icon" src="/img/icons/angle-icon.svg" alt="angle-icon">
            </a>
            <!-- Collapse -->
            <div id="collapse3" class="collapse" data-parent="#pageFaqs">
              <p>Whatever your goals are, we're here to help you be successful, no matter your measure of success. Are
                you trying to learn a new skill or get better at something you already know how to do? Are you looking
                for something to add to your CV for volunteering and community engagement? Maybe you just really love
                the mobile platform and want to see it thrive. </p>
            </div>
          </li>
          <!-- Question -->
          <li>
            <!-- Toggler -->
            <a data-toggle="collapse" href="#collapse4" role="button" aria-expanded="false" aria-controls="collapse4">
              Where can I get information on the "core packages"?
              <img class="angle-icon" src="/img/icons/angle-icon.svg" alt="angle-icon">
            </a>
            <!-- Collapse -->
            <div id="collapse4" class="collapse" data-parent="#pageFaqs">
              <p>Whatever your goals are, we're here to help you be successful, no matter your measure of success. Are
                you trying to learn a new skill or get better at something you already know how to do? Are you looking
                for something to add to your CV for volunteering and community engagement? Maybe you just really love
                the mobile platform and want to see it thrive. </p>
            </div>
          </li>
          <!-- Question -->
          <li>
            <!-- Toggler -->
            <a data-toggle="collapse" href="#collapse5" role="button" aria-expanded="false" aria-controls="collapse5">
              What is Ubuntu for Android and how does it work woth Ubuntu Touch?
              <img class="angle-icon" src="/img/icons/angle-icon.svg" alt="angle-icon">
            </a>
            <!-- Collapse -->
            <div id="collapse5" class="collapse" data-parent="#pageFaqs">
              <p>Whatever your goals are, we're here to help you be successful, no matter your measure of success. Are
                you trying to learn a new skill or get better at something you already know how to do? Are you looking
                for something to add to your CV for volunteering and community engagement? Maybe you just really love
                the mobile platform and want to see it thrive. </p>
            </div>
          </li>
          <!-- Question -->
          <li>
            <!-- Toggler -->
            <a data-toggle="collapse" href="#collapse6" role="button" aria-expanded="false" aria-controls="collapse6">
              Where do I report Ubuntu Touch bugs?
              <img class="angle-icon" src="/img/icons/angle-icon.svg" alt="angle-icon">
            </a>
            <!-- Collapse -->
            <div id="collapse6" class="collapse" data-parent="#pageFaqs">
              <p>Whatever your goals are, we're here to help you be successful, no matter your measure of success. Are
                you trying to learn a new skill or get better at something you already know how to do? Are you looking
                for something to add to your CV for volunteering and community engagement? Maybe you just really love
                the mobile platform and want to see it thrive. </p>
            </div>
          </li>
          <!-- Question -->
          <li>
            <!-- Toggler -->
            <a data-toggle="collapse" href="#collapse7" role="button" aria-expanded="false" aria-controls="collapse7">
              Where do I report Ubuntu Touch bugs?
              <img class="angle-icon" src="/img/icons/angle-icon.svg" alt="angle-icon">
            </a>
            <!-- Collapse -->
            <div id="collapse7" class="collapse" data-parent="#pageFaqs">
              <p>Whatever your goals are, we're here to help you be successful, no matter your measure of success. Are
                you trying to learn a new skill or get better at something you already know how to do? Are you looking
                for something to add to your CV for volunteering and community engagement? Maybe you just really love
                the mobile platform and want to see it thrive. </p>
            </div>
          </li>
        </ul>
        <p><span class="bold">Have question?</span> Email Joe.</p>
      </div>
    </div>
  </div>

  </div>
  </Layout>
</template>
