<template>
  <!-- Contributors -->
  <div class="home-contributors">
    <div class="container">
      <!-- Heading -->
      <h2 class="h3">Team & Individual Contributers</h2>
      <!-- Slider -->
      <div class="home-contributors__slider">
        <!-- Swiper -->
        <div id="contributorsSlider" v-swiper:postsSwiper="contributorsSliderOptions" class="swiper-container">
          <div class="swiper-wrapper">
            <!-- Slide -->
            <div v-for="device in $static.allDevice.edges.map((n) => n.node)" :key="device.path" class="swiper-slide">
              <!-- Card -->
              <a :href="device.path" class="card">
                <!-- Text -->
                <div class="card__text">
                  <h4 class="h4">{{ device.name }}</h4>
                  <p v-if="device.contributors.length">By {{ device.contributors[0].name }}</p>
                </div>
                <!-- Icon -->
                <div class="card__icon">
                  <img class="angle-icon-gradient" src="/img/icons/angle-icon-gradient.svg" alt="angle-icon">
                </div>
              </a>
            </div>
          </div>
          <div class="swiper-scrollbar"></div>
        </div>
      </div>
      <!-- Line -->
    </div>
  </div>
</template>

<static-query>
query {
  allDevice (sortBy: "maturity", order: DESC, perPage: 15, page: 0) {
    edges {
      node {
        path
        name
        contributors {
          name
        }
      }
    }
  }
}
</static-query>

<script>
import "swiper/css/swiper.css";

import { directive } from "vue-awesome-swiper";

export default {
  name: "DevicesSlider",
  directives: {
    swiper: process.isClient ? directive : null,
  },
  data: function () {
    return {
      contributorsSliderOptions: {
        spaceBetween: 25,
        scrollbar: {
          el: ".swiper-scrollbar",
          hide: false,
        },
        breakpoints: {
          0: {
            slidesPerView: 1.5,
          },
          575: {
            slidesPerView: 2,
          },
          768: {
            slidesPerView: 3,
          },
          992: {
            slidesPerView: 4,
          },
          1200: {
            slidesPerView: 6,
          },
        },
      },
    };
  },
};
</script>
