<template>
  <!-- Features -->
  <div class="features">
    <ul v-for="featureCategory in $page.device.portStatus" :key="featureCategory.categoryName">
      <li>
        <p class="bold">{{ featureCategory.categoryName }}:</p>
      </li>
      <li v-for="feature in featureCategory.features" :key="feature.id">
        <a
          :href="feature.bugtracker"
          :style="{ color: (feature.value == '-') ? 'grey' : 'inherit' }">
          {{feature.value}} {{ commonNames[featureCategory.categoryName][feature.id] }}
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "PortStatus",
  data: function () {
    return {
      commonNames: {
        Actors: {
          manualBrightness: "Manual brightness",
          notificationLed: "Notification LED",
          torchlight: "Torchlight",
          vibration: "Vibration",
        },
        Camera: {
          flashlight: "Flashlight",
          photo: "Photo",
          video: "Video",
          switchCamera: "Switching between cameras",
        },
        Cellular: {
          carrierInfo: "Carrier info, signal strength",
          dataConnection: "Data connection",
          calls: "Incoming, outgoing calls",
          mms: "MMS in, out",
          pinUnlock: "PIN unlock",
          sms: "SMS in, out",
          audioRoutings: "Change audio routings",
          voiceCall: "Voice in calls",
        },
        Endurance: {
          batteryLifetimeTest: "Battery lifetime > 24h from 100%",
          noRebootTest: "No reboot needed for 1 week",
        },
        GPU: {
          uiBoot: "Boot into UI",
          videoAcceleration: "Video acceleration",
        },
        Misc: {
          anboxPatches: "Anbox patches",
          apparmorPatches: "AppArmor patches",
          batteryPercentage: "Battery percentage",
          offlineCharging: "Offline charging",
          onlineCharging: "Online charging",
          recoveryImage: "Recovery image",
          factoryReset: "Reset to factory defaults",
          rtcTime: "RTC time",
          sdCard: "SD card detection and access",
          shutdown: "Shutdown / Reboot",
          wirelessCharging: "Wireless charging",
        },
        Network: {
          bluetooth: "Bluetooth",
          flightMode: "Flight mode",
          hotspot: "Hotspot",
          nfc: "NFC",
          wifi: "WiFi",
        },
        Sensors: {
          autoBrightness: "Automatic brightness",
          fingerprint: "Fingerprint reader",
          gps: "GPS",
          proximity: "Proximity",
          rotation: "Rotation",
          touchscreen: "Touchscreen",
        },
        Sound: {
          earphones: "Earphones",
          loudspeaker: "Loudspeaker",
          microphone: "Microphone",
          volumeControl: "Volume control",
        },
        USB: {
          mtp: "MTP access",
          adb: "ADB access",
          externalMonitor: "External monitor",
        },
      },
    };
  },
};
</script>
