<template>
  <!-- Posts -->
  <div class="home-posts">
    <div class="container">
      <!-- Heading -->
      <h2 class="h3">Latest updates</h2>
      <!-- Slider -->
      <div class="home-posts__slider">
        <!-- Swiper -->
        <div id="postsSlider" v-swiper:postsSwiper="postsSliderOptions" class="swiper-container">
          <div class="swiper-wrapper">
            <!-- Slide -->
            <div class="swiper-slide">
              <!-- Post -->
              <a href="#" class="home-post">
                <p>Audiocast</p>
                <h3 class="h3 light">Ubuntu Touch OTA-12 Release</h3>
                <div class="line"></div>
                <p>Read More</p>
              </a>
            </div>
            <!-- Slide -->
            <div class="swiper-slide">
              <!-- Post -->
              <a href="#" class="home-post">
                <p>Blog</p>
                <h3 class="h3 light">Call for Testing: Ubuntu Touch OTA-12</h3>
                <div class="line"></div>
                <p>Read More</p>
              </a>
            </div>
            <!-- Slide -->
            <div class="swiper-slide">
              <!-- Post -->
              <a href="#" class="home-post">
                <p>Blog</p>
                <h3 class="h3 light">PinePhone UBports Community Edition Pre-orders are Open</h3>
                <div class="line"></div>
                <p>Read More</p>
              </a>
            </div>
            <!-- Slide -->
            <div class="swiper-slide">
              <!-- Post -->
              <a href="#" class="home-post">
                <p>Audiocast</p>
                <h3 class="h3 light">Call for Testing: Ubuntu Touch OTA-12</h3>
                <div class="line"></div>
                <p>Read More</p>
              </a>
            </div>
            <!-- Slide -->
            <div class="swiper-slide">
              <!-- Post -->
              <a href="#" class="home-post">
                <p>Audiocast</p>
                <h3 class="h3 light">Ubuntu Touch OTA-12 Release</h3>
                <div class="line"></div>
                <p>Read More</p>
              </a>
            </div>
            <!-- Slide -->
            <div class="swiper-slide">
              <!-- Post -->
              <a href="#" class="home-post">
                <p>Audiocast</p>
                <h3 class="h3 light">Ubuntu Touch OTA-12 Release</h3>
                <div class="line"></div>
                <p>Read More</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "swiper/css/swiper.css";

import { directive } from "vue-awesome-swiper";

export default {
  name: "PostsSlider",
  directives: {
    swiper: process.isClient ? directive : null,
  },
  data: function () {
    return {
      postsSliderOptions: {
        spaceBetween: 35,
        autoHeight: true,
        loop: true,
        slidesPerView: 4,
        breakpoints: {
          0: {
            slidesPerView: 1.5,
          },
          575: {
            slidesPerView: 2,
          },
          992: {
            slidesPerView: 3,
          },
          1200: {
            slidesPerView: 4,
          },
        },
      },
    };
  },
};
</script>
