<template>
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Mobile Toggler -->
    <a class="sidebar-toggler h3 d-lg-none" data-toggle="collapse" href="#sidebarCollapse" role="button"
      aria-expanded="false" aria-controls="sidebarCollapse" @click="displayChooser = !displayChooser">
      Choose Device
      <span class="value"> {{ filteredResults.length }} </span>
      <img src="/img/icons/angle-icon-gradient.svg" alt="angle-icon" class="angle-icon-gradient">
    </a>
    <!-- Collapse -->
    <div id="sidebarCollapse" class="collapse" :class="{ show: displayChooser }">
      <!-- Tabs -->
      <ul id="tab" class="nav nav-tabs d-none d-lg-flex" role="tablist">
        <!-- All -->
        <li class="nav-item">
          <a
            id="all-tab"
            class="nav-link"
            :class="{ active: markActiveDeviceType('all') }"
            aria-controls="all"
            aria-selected="true"
            @click="currentFilter = 'all'"
          >
            All
          </a>
        </li>
        <!-- Tablets -->
        <li class="nav-item">
          <a
            id="tablets-tab"
            class="nav-link"
            :class="{ active: markActiveDeviceType('tablet') }"
            aria-controls="tablets"
            aria-selected="false"
            @click="currentFilter = 'tablet'"
          >
            Tablets
          </a>
        </li>
        <!-- Phones -->
        <li class="nav-item">
          <a
            id="phones-tab"
            class="nav-link"
            :class="{ active: markActiveDeviceType('phone') }"
            aria-controls="phones"
            aria-selected="false"
            @click="currentFilter = 'phone'"
          >
            Phones
          </a>
        </li>
      </ul>
      <!-- Search -->
      <input v-model="searchTerm" class="input d-none d-lg-block" type="text" placeholder="Search device">
      <!-- Tab Content -->
      <div id="tabContent" class="tab-content">
        <!-- All -->
        <div id="all" class="tab-pane fade show active" aria-labelledby="all-tab">
          <h3 class="h4 d-none d-lg-block">{{ filteredResults.length }} devices</h3>
          <hr class="d-none d-lg-block">
          <ul id="listOfDevices">
            <!-- Item -->
            <li v-for="device in filteredResults" :key="device.codename">
              <a
                :href="device.path"
                :class="{ active: markActiveDevice(device.codename) }"
                @click="displayChooser = !displayChooser">
                {{ device.name }}
              <div class="progress progress-sidebar">
                <div
                  class="progress-bar"
                  role="progressbar"
                  :style="{ width: device.maturity*100 + '%' }"
                  :aria-valuenow="device.maturity"
                  aria-valuemin="0"
                  aria-valuemax="1"
                  >
                </div>
              </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Built With -->
      <NewPort
        :mobile="false"
      />
    </div>
  </div>
</template>

<static-query>
query {
  allDevice (sortBy: "maturity", order: DESC) {
    totalCount
    edges {
      node {
        deviceType
        codename
        path
        name
        comment
        maturity
        noInstall
      }
    }
  }
}
</static-query>

<script>
import NewPort from "~/components/NewPort.vue";

import Flexsearch from "flexsearch";

export default {
  name: "Sidebar",
  components: {
    NewPort,
  },
  props: {
    toggleChoose: Boolean,
  },
  data: function () {
    return {
      displayChooser: false,
      currentFilter: "all",
      index: null,
      searchTerm: "",
    };
  },
  computed: {
    searchResults() {
      if (this.index === null || this.searchTerm.length < 3)
        return this.$static.allDevice.edges.map((n) => n.node);
      return this.index.search({
        query: this.searchTerm,
        limit: 10,
      });
    },
    filteredResults() {
      var filter = this.currentFilter;
      let unfilteredDevices = this.searchResults;
      return unfilteredDevices.filter(function (unfilteredDevices) {
        return filter == "all"
          ? true
          : unfilteredDevices.deviceType == filter
          ? true
          : false;
      });
    },
  },
  watch: {
    toggleChoose: function (newVal, oldVal) {
      if (newVal != oldVal) {
        this.displayChooser = true;
      }
    },
  },
  beforeMount() {
    this.index = new Flexsearch({
      tokenize: "forward",
      doc: {
        id: "codename",
        field: ["name"],
      },
    });
    this.index.add(this.$static.allDevice.edges.map((e) => e.node));
  },
  methods: {
    markActiveDeviceType(deviceType) {
      return this.currentFilter == deviceType ? true : false;
    },
    markActiveDevice(deviceName) {
      return this.$page
        ? this.$page.device
          ? this.$page.device.codename == deviceName
            ? true
            : false
          : false
        : false;
    },
  },
};
</script>
