<template>
  <div :class="{ backdrop: appBackdrop }" @click="closeNavbar">
  <Header
    :backdrop-state="appBackdrop"
    @navbar-opened="appBackdrop = true"
    @navbar-closed="appBackdrop = false"
  />

  <slot/>

  <Footer/>
  </div>
</template>

<script>
import Header from "~/components/Header.vue";
import Footer from "~/components/Footer.vue";

export default {
  metaInfo: {
    meta: [
      {
        name: "twitter:card",
        content: "summary_large_image",
      },
      {
        name: "twitter:creator",
        content: "@ubports",
      },
    ],
  },
  components: {
    Header,
    Footer,
  },
  data: function () {
    return {
      appBackdrop: false,
    };
  },
  methods: {
    closeNavbar(e) {
      if (!e.target.closest(".header")) {
        this.appBackdrop = false;
      }
    },
  },
};
</script>
