<template>
  <Layout>

    <!-- Ports -->
    <div class="ports">
      <div class="container">
        <Sidebar
          :toggle-choose="toggleChoose"
        />
        <!-- Content -->
        <div class="content">
          <slot/>
          <!-- Built With -->
          <NewPort
            :mobile="true"
          />
        </div>
      </div>
    </div>

  </Layout>
</template>

<script>
import Sidebar from "~/components/Sidebar.vue";
import NewPort from "~/components/NewPort.vue";

export default {
  components: {
    Sidebar,
    NewPort,
  },
  data: function () {
    return {
      toggleChoose: false,
    };
  },
  created() {
    this.$root.$on("toggle-device-choose", this.toggleChooseHandler);
  },
  methods: {
    toggleChooseHandler() {
      this.toggleChoose = !this.toggleChoose;
    },
  },
};
</script>
